#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

[Unit]
Description=Traffic Ops - administrative for the CDN
After=network.target

[Service]
Type=simple
Environment=TO_DIR=/opt/traffic_ops/app
WorkingDirectory=/opt/traffic_ops/app
LimitNOFILE=200000
ExecStart=/opt/traffic_ops/app/bin/traffic_ops_golang \
    -cfg /opt/traffic_ops/app/conf/cdn.conf \
    -dbcfg /opt/traffic_ops/app/conf/production/database.conf \
    -riakcfg /opt/traffic_ops/app/conf/production/riak.conf \
    -backendcfg /opt/traffic_ops/app/conf/production/backends.conf
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target