<mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" formControlName="name" required />
            </mat-form-field>
            <mat-form-field>
                <mat-label>CDN</mat-label>
                <mat-select name="cdn" formControlName="cdn" required>
                    <mat-option [value]="cdn.id" *ngFor="let cdn of cdns">{{cdn.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select name="type" formControlName="type" required>
                    <mat-option [value]="type.value" *ngFor="let type of types">{{type.value}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Routing Disabled</mat-label>
                <mat-select name="routingDisabled" formControlName="routingDisabled" required>
                    <mat-option [value]="true">True</mat-option>
                    <mat-option [value]="false">False</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" required></textarea>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-raised-button color="primary" type="submit">Save</button>
        </mat-card-actions>
    </form>
</mat-card>