#dsConfigForm {
  padding: 0 20px;

  .settings-row {
    padding: 10px 0 0 0;
    margin: 0 0 10px 0;

    .settings-col {
      text-align: center;
    }

  }

}

.ds-config-modal {
  // not used yet but you can throw a class on a modal if needed
}

