{
	"listen-port":            8080,
	"rule-file":              "rules.json",
	"poll-interval":          5,
	"crt-file":               "server.crt",
	"key-file":               "server.key",
	"log-dir":		          ".",
	"dbg-log-max-size":       500,
	"dbg-log-max-age":        28,
	"dbg-log-max-backups":    3,
	"access-log-max-size":    500,
	"access-log-max-age":     28,
	"access-log-max-backups": 3,
	"insecure-skip-verify":   false
}
