<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/cdns')">CDNs</a></li>
            <li><a ng-click="navigateToPath('/cdns/' + cdn.id)">{{::cdn.name}}</a></li>
            <li class="active">Config Changes</li>
        </ol>
        <div class="pull-right" ng-show="!settings.isNew">
            <button type="button" class="btn btn-default" ng-click="navigateToPath('/cdns/' + cdn.id)">Cancel</button>
            <button type="button" class="btn btn-primary" name="snapshotCDNbtn" title="Perform {{cdn.name}} Snapshot" ng-click="confirmSnapshot(cdn)"><i class="fa fa-camera"></i>&nbsp;&nbsp;Perform Snapshot</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="snapshotContainer" class="x_content">
        <uib-tabset active="active" justified="true">
            <uib-tab index="0" class="tab" select="tabSelected()">
                <uib-tab-heading uib-popover-template="configCount.templateUrl" popover-title="{{configCount.added + configCount.removed + configCount.updated}} Total Changes" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                    General Config<br/>[ {{configCount.added}} | {{configCount.removed}} | {{configCount.updated}} ]
                </uib-tab-heading>
                <div class="x_content">
                    <br>
                    <table id="configChangesTable" class="table responsive-utilities jambo_table changes">
                        <thead>
                        <tr class="headings">
                            <th>Change Type</th>
                            <th>Path</th>
                            <th>Current Value</th>
                            <th>Pending Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="configChange in ::configChanges track by $index">
                            <td data-search="^{{::configChange.op}}$">{{::configChange.op}}</td>
                            <td data-search="^{{::configChange.path}}$">{{::configChange.path}}</td>
                            <td class="value" data-search="^{{::configChange.oldValue}}$"><json-formatter open="expandLevel" json="configChange.oldValue"></json-formatter></td>
                            <td class="value" data-search="^{{::configChange.value}}$"><json-formatter open="expandLevel" json="configChange.value"></json-formatter></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="1" class="tab" select="tabSelected()">
                <uib-tab-heading uib-popover-template="contentRoutersCount.templateUrl" popover-title="{{contentRoutersCount.added + contentRoutersCount.removed + contentRoutersCount.updated}} Total Changes" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                    Traffic Routers<br/>[ {{contentRoutersCount.added}} | {{contentRoutersCount.removed}} | {{contentRoutersCount.updated}} ]
                </uib-tab-heading>
                <div class="x_content">
                    <br>
                    <table id="contentRoutersChangesTable" class="table responsive-utilities jambo_table changes">
                        <thead>
                        <tr class="headings">
                            <th>Change Type</th>
                            <th>Path</th>
                            <th>Current Value</th>
                            <th>Pending Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cr in ::contentRoutersChanges track by $index">
                            <td data-search="^{{::cr.op}}$">{{::cr.op}}</td>
                            <td data-search="^{{::cr.path}}$">{{::cr.path}}</td>
                            <td class="value" data-search="^{{::cr.oldValue}}$"><json-formatter open="expandLevel" json="cr.oldValue"></json-formatter></td>
                            <td class="value" data-search="^{{::cr.value}}$"><json-formatter open="expandLevel" json="cr.value"></json-formatter></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="2" class="tab" select="tabSelected()">
                <uib-tab-heading uib-popover-template="monitorsCount.templateUrl" popover-title="{{monitorsCount.added + monitorsCount.removed + monitorsCount.updated}} Total Changes" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                    Traffic Monitors<br/>[ {{monitorsCount.added}} | {{monitorsCount.removed}} | {{monitorsCount.updated}} ]
                </uib-tab-heading>
                <div class="x_content">
                    <br>
                    <table id="monitorsChangesTable" class="table responsive-utilities jambo_table changes">
                        <thead>
                        <tr class="headings">
                            <th>Change Type</th>
                            <th>Path</th>
                            <th>Current Value</th>
                            <th>Pending Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="m in ::monitorsChanges track by $index">
                            <td data-search="^{{::m.op}}$">{{::m.op}}</td>
                            <td data-search="^{{::m.path}}$">{{::m.path}}</td>
                            <td class="value" data-search="^{{::m.oldValue}}$"><json-formatter open="expandLevel" json="m.oldValue"></json-formatter></td>
                            <td class="value" data-search="^{{::m.value}}$"><json-formatter open="expandLevel" json="m.value"></json-formatter></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="3" class="tab" select="tabSelected()">
                <uib-tab-heading uib-popover-template="contentServersCount.templateUrl" popover-title="{{contentServersCount.added + contentServersCount.removed + contentServersCount.updated}} Total Changes" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                    Traffic Servers<br/>[ {{contentServersCount.added}} | {{contentServersCount.removed}} | {{contentServersCount.updated}} ]
                </uib-tab-heading>
                <div class="x_content">
                    <br>
                    <table id="contentServersChangesTable" class="table responsive-utilities jambo_table changes">
                        <thead>
                        <tr class="headings">
                            <th>Change Type</th>
                            <th>Path</th>
                            <th>Current Value</th>
                            <th>Pending Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cs in ::contentServersChanges track by $index">
                            <td data-search="^{{::cs.op}}$">{{::cs.op}}</td>
                            <td data-search="^{{::cs.path}}$">{{::cs.path}}</td>
                            <td class="value" data-search="^{{::cs.oldValue}}$"><json-formatter open="expandLevel" json="cs.oldValue"></json-formatter></td>
                            <td class="value" data-search="^{{::cs.value}}$"><json-formatter open="expandLevel" json="cs.value"></json-formatter></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="4" class="tab" select="tabSelected()">
                <uib-tab-heading uib-popover-template="deliveryServicesCount.templateUrl" popover-title="{{deliveryServicesCount.added + deliveryServicesCount.removed + deliveryServicesCount.updated}} Total Changes" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                    Delivery Services<br/>[ {{deliveryServicesCount.added}} | {{deliveryServicesCount.removed}} | {{deliveryServicesCount.updated}} ]
                </uib-tab-heading>
                <div class="x_content">
                    <br>
                    <table id="deliveryServicesChangesTable" class="table responsive-utilities jambo_table changes">
                        <thead>
                        <tr class="headings">
                            <th>Change Type</th>
                            <th>Path</th>
                            <th>Current Value</th>
                            <th>Pending Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ds in ::deliveryServicesChanges track by $index">
                            <td data-search="^{{::ds.op}}$">{{::ds.op}}</td>
                            <td data-search="^{{::ds.path}}$">{{::ds.path}}</td>
                            <td class="value" data-search="^{{::ds.oldValue}}$"><json-formatter open="expandLevel" json="ds.oldValue"></json-formatter></td>
                            <td class="value" data-search="^{{::ds.value}}$"><json-formatter open="expandLevel" json="ds.value"></json-formatter></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="5" class="tab" select="tabSelected()">
                <uib-tab-heading uib-popover-template="edgeLocationsCount.templateUrl" popover-title="{{edgeLocationsCount.added + edgeLocationsCount.removed + edgeLocationsCount.updated}} Total Changes" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                    Edge Cache Groups<br/>[ {{edgeLocationsCount.added}} | {{edgeLocationsCount.removed}} | {{edgeLocationsCount.updated}} ]
                </uib-tab-heading>
                <div class="x_content">
                    <br>
                    <table id="edgeLocationsChangesTable" class="table responsive-utilities jambo_table changes">
                        <thead>
                        <tr class="headings">
                            <th>Change Type</th>
                            <th>Path</th>
                            <th>Current Value</th>
                            <th>Pending Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="el in ::edgeLocationsChanges track by $index">
                            <td data-search="^{{::el.op}}$">{{::el.op}}</td>
                            <td data-search="^{{::el.path}}$">{{::el.path}}</td>
                            <td class="value" data-search="^{{::el.oldValue}}$"><json-formatter open="expandLevel" json="el.oldValue"></json-formatter></td>
                            <td class="value" data-search="^{{::el.value}}$"><json-formatter open="expandLevel" json="el.value"></json-formatter></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="6" class="tab" select="tabSelected()">
                <uib-tab-heading uib-popover-template="trLocationsCount.templateUrl" popover-title="{{trLocationsCount.added + trLocationsCount.removed + trLocationsCount.updated}} Total Changes" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                    TR Cache Groups<br/>[ {{trLocationsCount.added}} | {{trLocationsCount.removed}} | {{trLocationsCount.updated}} ]
                </uib-tab-heading>
                <div class="x_content">
                    <br>
                    <table id="trLocationsChangesTable" class="table responsive-utilities jambo_table changes">
                        <thead>
                        <tr class="headings">
                            <th>Change Type</th>
                            <th>Path</th>
                            <th>Current Value</th>
                            <th>Pending Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tl in ::trLocationsChanges track by $index">
                            <td data-search="^{{::tl.op}}$">{{::tl.op}}</td>
                            <td data-search="^{{::tl.path}}$">{{::tl.path}}</td>
                            <td class="value" data-search="^{{::tl.oldValue}}$"><json-formatter open="expandLevel" json="tl.oldValue"></json-formatter></td>
                            <td class="value" data-search="^{{::tl.value}}$"><json-formatter open="expandLevel" json="tl.value"></json-formatter></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="7" class="tab" select="tabSelected()">
                <uib-tab-heading uib-popover-template="topologiesCount.templateUrl" popover-title="{{topologiesCount.added + topologiesCount.removed + topologiesCount.updated}} Total Changes" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                    Topologies<br/>[ {{topologiesCount.added}} | {{topologiesCount.removed}} | {{topologiesCount.updated}} ]
                </uib-tab-heading>
                <div class="x_content">
                    <br>
                    <table id="topologiesChangesTable" class="table responsive-utilities jambo_table changes">
                        <thead>
                        <tr class="headings">
                            <th>Change Type</th>
                            <th>Path</th>
                            <th>Current Value</th>
                            <th>Pending Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="top in ::topologiesChanges track by $index">
                            <td data-search="^{{::top.op}}$">{{::top.op}}</td>
                            <td data-search="^{{::top.path}}$">{{::top.path}}</td>
                            <td class="value" data-search="^{{::top.oldValue}}$"><json-formatter open="expandLevel" json="top.oldValue"></json-formatter></td>
                            <td class="value" data-search="^{{::top.value}}$"><json-formatter open="expandLevel" json="top.value"></json-formatter></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="8" class="tab" select="tabSelected()">
                <uib-tab-heading uib-popover-template="statsCount.templateUrl" popover-title="{{statsCount.added + statsCount.removed + statsCount.updated}} Total Changes" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                    Stats<br/>[ {{statsCount.added}} | {{statsCount.removed}} | {{statsCount.updated}} ]
                </uib-tab-heading>
                <div class="x_content">
                    <br>
                    <table id="statsChangesTable" class="table responsive-utilities jambo_table changes">
                        <thead>
                        <tr class="headings">
                            <th>Change Type</th>
                            <th>Path</th>
                            <th>Current Value</th>
                            <th>Pending Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in ::statsChanges track by $index">
                            <td data-search="^{{::s.op}}$">{{::s.op}}</td>
                            <td data-search="^{{::s.path}}$">{{::s.path}}</td>
                            <td class="value" data-search="^{{::s.oldValue}}$"><json-formatter open="expandLevel" json="s.oldValue"></json-formatter></td>
                            <td class="value" data-search="^{{::s.value}}$"><json-formatter open="expandLevel" json="s.value"></json-formatter></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<!--- start: templates for popovers --->

<script type="text/ng-template" id="configPopoverTemplate.html">
    <div>{{configCount.added}} adds</div>
    <div>{{configCount.removed}} removes</div>
    <div>{{configCount.updated}} updates</div>
</script>

<script type="text/ng-template" id="crPopoverTemplate.html">
    <div>{{contentRoutersCount.added}} adds</div>
    <div>{{contentRoutersCount.removed}} removes</div>
    <div>{{contentRoutersCount.updated}} updates</div>
</script>

<script type="text/ng-template" id="mPopoverTemplate.html">
    <div>{{monitorsCount.added}} adds</div>
    <div>{{monitorsCount.removed}} removes</div>
    <div>{{monitorsCount.updated}} updates</div>
</script>

<script type="text/ng-template" id="csPopoverTemplate.html">
    <div>{{contentServersCount.added}} adds</div>
    <div>{{contentServersCount.removed}} removes</div>
    <div>{{contentServersCount.updated}} updates</div>
</script>

<script type="text/ng-template" id="dsPopoverTemplate.html">
    <div>{{deliveryServicesCount.added}} adds</div>
    <div>{{deliveryServicesCount.removed}} removes</div>
    <div>{{deliveryServicesCount.updated}} updates</div>
</script>

<script type="text/ng-template" id="elPopoverTemplate.html">
    <div>{{edgeLocationsCount.added}} adds</div>
    <div>{{edgeLocationsCount.removed}} removes</div>
    <div>{{edgeLocationsCount.updated}} updates</div>
</script>

<script type="text/ng-template" id="tlPopoverTemplate.html">
    <div>{{trLocationsCount.added}} adds</div>
    <div>{{trLocationsCount.removed}} removes</div>
    <div>{{trLocationsCount.updated}} updates</div>
</script>

<script type="text/ng-template" id="topPopoverTemplate.html">
    <div>{{topologiesCount.added}} adds</div>
    <div>{{topologiesCount.removed}} removes</div>
    <div>{{topologiesCount.updated}} updates</div>
</script>

<script type="text/ng-template" id="statsPopoverTemplate.html">
    <div>{{statsCount.added}} adds</div>
    <div>{{statsCount.removed}} removes</div>
    <div>{{statsCount.updated}} updates</div>
</script>

<!--- end: templates for popovers --->

