.DS_Store
cpanfile.snapshot
rpm/build.number
rpmbuild/
docs/build/*
local
traffic_ops_extensions/log/*
traffic_ops_extensions/lib/Extensions/InfluxDB/log/*
traffic_ops/app/log/*.log
traffic_ops/app/public/CRConfig-Snapshots/*
traffic_ops/app/public/Trafficserver-Snapshots/*
docs/.todo_cache
docs/_build/
docs/source/_build/
traffic_ops/app/conf/ldap.conf
traffic_ops/app/db/admin
traffic_ops/**/*.log
traffic_stats/traffic_stats
misc/traffic-control-cdn/downloads/*.rpm
traffic_router/*/*.log
traffic_router/*.log
.dbInfo
/dist
*.pyc
bin/docker-compose
/.m2
# local storage for cdn-in-a-box Carton packages
local.tar.gz
# Editor/IDE configuration files
*.sublime-project
*.sublime-workspace
.vscode/
*.pydevproject
.idea/
.project
.*.swp
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.elc
.projectile
*.bak
*.iml
