<div id="dashboardContainer">
    <h2>CDN Health</h2>
    <div class="row">
        <div class="locations-container col-lg-12 col-md-12 col-sm-12">
            <div ui-view="cacheGroupsContent"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7">
            <h2>Assigned Delivery Services <small>[ {{deliveryServices.length}} ]</small></h2>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <button ng-if="properties.deliveryService.request.show" type="button" class="request-ds-btn action-btn btn" ng-click="requestDS()"><i class="fa fa-plus fa-fw"></i> New Delivery Service</button>
        </div>
    </div>
    <div class="ds-container col-lg-12 col-md-12 col-sm-12">
        <div ui-view="deliveryServicesContent"></div>
    </div>
</div>

