<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="main-nav scroll-view">
    <div class="navbar nav_title">
        <span class="site_title">Traffic Portal</span>
    </div>
    <div class="clearfix"></div>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li class="side-menu-category"><a href="javascript:void(0);"><i class="fa fa-bar-chart"></i> Monitor <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.monitor.dashboard')}"><a ng-click="navigateToPath('/monitor/dashboard')">Dashboard</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.monitor.map')}"><a ng-click="navigateToPath('/monitor/map')">Map</a></li>
                    </ul>
                </li>
                <li class="side-menu-category"><a href="javascript:void(0);"><i class="fa fa-cog"></i> Configure <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.configure.cacheGroups')}"><a ng-click="navigateToPath('/configure/cache-groups')">Cache Groups</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.configure.deliveryServices')}"><a ng-click="navigateToPath('/configure/delivery-services')">Delivery Services</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.configure.servers')}"><a ng-click="navigateToPath('/configure/servers')">Servers</a></li>
                    </ul>
                </li>
                <li class="side-menu-category"><a href="javascript:void(0);"><i class="fa fa-wrench"></i> Admin <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.asns')}"><a ng-click="navigateToPath('/admin/asns')">ASNs</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.cdns')}"><a ng-click="navigateToPath('/admin/cdns')">CDNs</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.divisions')}"><a ng-click="navigateToPath('/admin/divisions')">Divisions</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.jobs')}"><a ng-click="navigateToPath('/admin/jobs')">Jobs</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.physLocations')}"><a ng-click="navigateToPath('/admin/phys-locations')">Phys Locations</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.parameters')}"><a ng-click="navigateToPath('/admin/parameters')">Parameters</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.profiles')}"><a ng-click="navigateToPath('/admin/profiles')">Profiles</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.regions')}"><a ng-click="navigateToPath('/admin/regions')">Regions</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.statuses')}"><a ng-click="navigateToPath('/admin/statuses')">Statuses</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.types')}"><a ng-click="navigateToPath('/admin/types')">Types</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.tenants')}"><a ng-click="navigateToPath('/admin/tenants')">Tenants</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficOps.private.admin.users')}"><a ng-click="navigateToPath('/admin/users')">Users</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer hidden-small">
        <a title="Logout" ng-show="userLoaded" ng-click="logout()" uib-popover="Logout" popover-trigger="mouseenter"><i class="fa fa-sign-out"></i></a>
        <a title="Login" ng-show="!userLoaded" ui-sref="trafficOps.public.login" uib-popover="Login" popover-trigger="mouseenter"><i class="fa fa-sign-in"></i></a>
        <a title="User Profile" ui-sref="trafficOps.private.user.edit" uib-popover="User Profile" popover-trigger="mouseenter"><i class="fa fa-user"></i></a>
        <a title="Release Info" ng-click="releaseVersion()" uib-popover="Release Info" popover-trigger="mouseenter"><i class="fa fa-info"></i></a>
        <a title="Popout" uib-popover="Popout" popover-trigger="mouseenter"><i class="fa fa-external-link"></i></a>
    </div>
</div>
