ag-grid-angular {
	width: 80vw;
	margin: 10px auto 0;
	height: 85vh;
}

main > div {
	width: 50%;
	margin: auto;
	padding-right: 10px;
	position: sticky;
	top: 0;
	z-index: 2;
	input {
		width: 100%;
		margin: 15px 0;
	}
}

@media(max-width: 1230px) {
	main > div {
		margin: auto auto auto 15%;
	}
}

@media(max-width: 630px) {
	main > div {
		width: 75%;
		margin: auto;
		position: fixed;
		left: 12.5%;
	}

	ag-grid-angular {
		margin: 25px auto 0;
		width: 95%;
	}
}

@media(max-width: 480px) {
	main > div {
		left: 7px;
		width: calc(100vw - 4em);
	}

	ag-grid-angular {
		width: 100%;
	}
}
