<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
​
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Create CDN Lock</h4>
</div>
<form ng-submit="select()">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label class="control-label" for="cdn">CDN *</label>
                    <select id="cdn" name="cdn" class="form-control" ng-model="lock.cdn" ng-options="cdn.name as cdn.name for cdn in cdns" required>
                        <option disabled hidden selected value="">Select...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label class="control-label" for="message">Message *</label>
                    <input id="message" name="message" type="text" class="form-control" ng-model="lock.message" maxlength="256" required autofocus>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label class="has-tooltip control-label" for="users">Shared Usernames
                        <div class="helptooltip">
                            <div class="helptext">The usernames with which the creator wants to share their lock.</div>
                        </div>
                    </label>
                    <select id="users" name="users" class="form-control" ng-model="lock.sharedUserNames" multiple ng-options="user.username as user.username for user in users" required>
                        <option disabled hidden selected value="">Select...</option>
                    </select>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <fieldset class="form-group">
                    <legend>Type</legend>
                    <div class="fieldset-body">
                        <label class="has-tooltip" for="soft">Soft<div class="helptooltip">
                            <div class="helptext">A <dfn>soft</dfn> lock will prevent others from queueing server updates or snapshotting the locked CDN
                            </div>
                        </div>
                        </label>
                        <input id="soft" name="lockType" type="radio" ng-model="lock.soft" ng-value="true" required>
                        <label class="has-tooltip" for="hard">Hard<div class="helptooltip">
                            <div class="helptext">A <dfn>hard</dfn> lock will prevent others from queueing server updates or snapshotting the locked CDN. It will also block others from making changes (except clearing updates) that would change the state of the locked CDN.
                            </div>
                        </div>
                        </label>
                        <input id="hard" name="lockType" type="radio" ng-model="lock.soft" ng-value="false" required>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn action-btn" ng-click="cancel()">Cancel</button>
        <button class="btn btn-link">Submit</button>
    </div>
</form>
