<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/tenants')">Tenants</a></li>
            <li class="active">{{tenantName}}</li>
        </ol>
        <div class="pull-right" role="group" ng-show="!settings.isNew">
            <button class="btn btn-primary" title="View Users" ng-click="viewUsers()">View Users</button>
            <div class="btn-group" role="group" uib-dropdown is-open="more.isopen">
                <button name="moreBtn" type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                    View Delivery Services&nbsp;
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu-right dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem"><a href="/#!/tenants/{{tenant.id}}/delivery-services">Assigned To Tenant</a></li>
                    <li role="menuitem"><a href="/#!/tenants/{{tenant.id}}/delivery-services?all=true">Accessible To Tenant</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form name="tenantForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(tenantForm.name), 'has-feedback': hasError(tenantForm.name)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Name *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="name" type="text" class="form-control" ng-model="tenant.name" ng-maxlength="45" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(tenantForm.name, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(tenantForm.name, 'maxlength')">Too Long</small>
                    <span ng-show="hasError(tenantForm.name)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(tenantForm.active), 'has-feedback': hasError(tenantForm.active)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Active *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select name="active" class="form-control" ng-model="tenant.active" ng-options="x.value as x.label for x in falseTrue" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(tenantForm.active, 'required')">Required</small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(tenantForm.parentId), 'has-feedback': hasError(tenantForm.parentId)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Parent Tenant *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <tree-select on-update="tenant.parentId=value" handle="parentId" tree-data="[tenants[0]]" initial-value="tenant.parentId"></tree-select>
                    <small class="input-error" ng-show="hasPropertyError(tenantForm.parentId, 'required')">Required</small>
                    <small ng-show="tenant.parentId"><a href="/#!/tenants/{{tenant.parentId}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a></small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-show="!settings.isNew" ng-click="confirmDelete(tenant)">Delete</button>
                <button type="button" class="btn btn-success" ng-disabled="tenantForm.$pristine || tenantForm.$invalid" ng-click="save(tenant)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>
