<template name="addCamera">
    <!-- @author Ramiro Arenivar -->
    <!-- For CSCI 5799 -->

    <!-- Basic Form -->
    <div class="page panel panel-blue margin-bottom-40">
        <div class="panel-heading" style="background-color:#428bca">
            <h3 class="panel-title" style="color:white;"><i class="fa fa-tasks"></i>Register Wifi Camera</h3>
        </div>
        <div class="panel-body">
            <form id="form-register-camera" class="margin-bottom-40" role="form">
                <div class="form-group">
                    <label for="register-cameraname">Name</label>
                    <input type="text" class="form-control" id="register-cameraname" placeholder="Enter camera name">
                </div>
                <div class="form-group">
                    <label for="register-cameralocation">Location</label>
                    <input type="text" class="form-control" id="register-cameralocation" placeholder="Enter camera location">
                </div>
                <div class="form-group">
                    <label for="register-cameraurl">URL</label>
                    <input type="text" class="form-control" id="register-cameraurl" placeholder="Enter camera url">
                </div>
                <div class="form-group">
                    <label for="register-camerausername">Camera username</label>
                    <input type="text" class="form-control" id="register-camerausername" placeholder="Enter camera username">
                </div>
                <div class="form-group">
                    <label for="register-camerapassword">Camera password</label>
                    <input type="text" class="form-control" id="register-camerapassword" placeholder="Enter camera password">
                </div>
                <a class="btn btn-success" href="#" id="btn-register-camera">Submit</a>
                <!--<button type="submit" class="btn btn-lg btn-primary">Submit</button>-->
            </form>
        </div>
    </div>
    <!-- End Basic Form -->

</template>