<template name="cameraDetail">

    <div class="page panel panel-default">
        <div class="panel-heading">{{cameraName}} Camera ({{cameraId}})</div>
        <div class="panel-body">
                <div class="col-md-6">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/MsklOepMz5A" frameborder="0" allowfullscreen></iframe>
                    <div class="span">
                        <p><button class="btn btn-success btn-block">Record</button></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Main component for a primary marketing message or call to action -->
                    <div class="jumbotron">
                        <h3>Controls</h3>
                        <div class="span">
                            <p><button class="btn btn-primary btn-block">Up</button></p>
                            <p><button class="btn btn-primary btn-block">Down</button></p>
                            <p><button class="btn btn-primary btn-block">Left</button></p>
                            <p><button class="btn btn-primary btn-block">Right</button></p>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</template>