<template name="editCamera">
    {{#with cameraToEdit}}
    <!-- Basic Form -->
    <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading" style="background-color:#428bca">
            <h3 class="panel-title" style="color:white;"><i class="fa fa-tasks"></i>Edit Camera {{name}} Information</h3>
        </div>
        <div class="panel-body">
            <form id="form-edit-camera" class="margin-bottom-40" role="form">
                <input type="hidden" id="edit-cameraname-current" value="{{name}}">
                <div class="form-group">
                    <label for="edit-cameraname">Name</label>
                    <input type="text" class="form-control" id="edit-cameraname" value="{{name}}">
                </div>
                <div class="form-group">
                    <label for="edit-cameralocation">Location</label>
                    <input type="text" class="form-control" id="edit-cameralocation" value="{{location}}">
                </div>
                <div class="form-group">
                    <label for="edit-cameraurl">URL</label>
                    <input type="text" class="form-control" id="edit-cameraurl" value="{{url}}">
                </div>
                <div class="form-group">
                    <label for="edit-camerausername">Camera username</label>
                    <input type="text" class="form-control" id="edit-camerausername" value="{{username}}">
                </div>
                <div class="form-group">
                    <label for="edit-camerapassword">Camera password</label>
                    <input type="password" class="form-control" id="edit-camerapassword" value="{{password}}">
                </div>
                <a class="btn btn-success" href="#" id="btn-edit-camera">Update</a>
                <a class="btn btn-danger" href="#" id="btn-edit-camera-delete">Delete</a>
            </form>
        </div>
    </div>
    <!-- End Basic Form -->
    {{/with}}
</template>