<!-- @author Ramiro Arenivar -->
<!-- For CSCI 5799 -->

<template name="editUser">
    {{#with userData}}
        <!-- Basic Form -->
        <div class="panel panel-blue margin-bottom-40">
            <div class="panel-heading" style="background-color:#428bca">
                <h3 class="panel-title" style="color:white;"><i class="fa fa-tasks"></i>Edit Profile for {{username}}</h3>
            </div>
            <div class="panel-body">
                <form id="form-edit-user" class="margin-bottom-40" role="form">
                    <input type="hidden" id="edit-username-current" value="{{username}}">
                    <div class="form-group">
                        <label for="edit-firstName">First name</label>
                        <input type="text" class="form-control" id="edit-firstName" value="{{firstName}}">
                    </div>
                    <div class="form-group">
                        <label for="edit-lastName">Last name</label>
                        <input type="text" class="form-control" id="edit-lastName" value="{{lastName}}">
                    </div>
                    <div class="form-group">
                        <label for="edit-password">Password</label>
                        <input type="password" class="form-control" id="edit-password" value="{{password}}">
                    </div>
                    <a class="btn btn-success" href="#" id="btn-edit-user">Update</a>
                    <a class="btn btn-danger" href="#" id="btn-delete-user">Delete Account</a>
                </form>
            </div>
        </div>
        <!-- End Basic Form -->
    {{/with}}
</template>