<template name="videoModal">
    <div class="modal fade">
        <div class="modal-dialog">
            {{#with videoInfo}}
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">{{name}}</h4>
                </div>
                <div class="modal-body">
                    <video width="100%" controls autoplay>
                        <source src="{{url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
            {{/with}}
        </div>
    </div>
</template>