apiVersion: 1

apps:
  - type: 'trafficcontrol-scenes-app'
    org_id: 1
    org_name: 'apache'
    disabled: false
    jsonData:
      apiUrl: https://trafficcontrol.apache.org/
      isApiKeySet: true