mat-sidenav-container {
	height: calc(100% - 3.9em);

	mat-sidenav {
		min-width: 10em;

		.mat-icon {
			margin-right: 0;
		}


		div.bottom {
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.mat-menu-item {
			width: 100%;
			padding-left: 0.5em;
			padding-right: 0.5em;
		}

		div[role=group] > .mat-tree-node > a {
			padding-left: calc(.5em + 29px);
		}
	}
}

div.expander {
	position: absolute;
	z-index: 10;
	bottom: 50px;
	left: 0;
}
