
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
#-----------------------------------------
# {{ ansible_managed }}
#-----------------------------------------
#
[Unit]
Description=Traffic Ops Postgres Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker compose -p trafficops -f /opt/traffic_ops_db/docker/docker-compose.yml up
ExecStop=/usr/bin/docker compose -p trafficops -f /opt/traffic_ops_db/docker/docker-compose.yml stop

[Install]
WantedBy=default.target
