# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

# t3c built binaries
t3c/t3c
t3c-apply/t3c-apply
t3c-check/t3c-check
t3c-check-refs/t3c-check-refs
t3c-check-reload/t3c-check-reload
t3c-diff/t3c-diff
t3c-generate/t3c-generate
t3c-preprocess/t3c-preprocess
t3c-request/t3c-request
t3c-tail/t3c-tail
t3c-update/t3c-update

# generated documentation
*.1
*.rst

# RPMs used for testing
testing/docker/traffic_ops/traffic_ops*.rpm
testing/docker/yumserver/test-rpms/*.rpm
testing/docker/ort_test/trafficcontrol-cache-config*.rpm

# Test logs
testing/ort-tests/test.log
