mat-card {
	width: fit-content;
	margin: 15px auto auto;
	min-width: 685px;
}


mat-card-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 1em;
	width: 85vw;
	margin: 1em auto 50px;

	.input-warning {
		color: #ff9800;
		font-weight: bold;
		font-size: x-small;
	}
}

#ssh-container {
	width: 98%;
	max-width: 48em;
	grid-column: 1 / -1;
	margin: auto;

	textarea {
		font-family: 'Ubuntu Monospace', 'Courier New', Courier, monospace;
		max-height: 400px;
		word-wrap: break-word;
	}
}

@media(max-width: 1230px) {
	form {
		grid-template-columns: 1fr 1fr;
	}
}

@media(max-width: 840px) {
	form {
		grid-template-columns: 1fr;
	}
}

input[type="checkbox"] {
	justify-self: start;
	align-self: center;
	cursor: pointer;
}
