<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li class="active">Delivery Service Requests</li>
        </ol>
        <div class="pull-right">
            <div class="form-inline" role="search">
                <input id="quickSearch" name="quickSearch" type="search" class="form-control text-input" placeholder="Quick search..." ng-model="quickSearch" ng-change="onQuickSearchChanged()" aria-label="Search"/>
                <div class="input-group text-input">
                    <span class="input-group-addon">
                        <label for="pageSize">Page size</label>
                    </span>
                    <input id="pageSize" name="pageSize" type="number" min="1" class="form-control" placeholder="100" ng-model="pageSize" ng-change="onPageSizeChanged()" />
                </div>
                <div id="toggleColumns" class="btn-group" role="group" title="Select Table Columns" uib-dropdown is-open="columnSettings.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-columns"></i>&nbsp;
                        <span class="caret"></span>
                    </button>
                    <menu ng-click="$event.stopPropagation()" class="column-settings dropdown-menu-right dropdown-menu" uib-dropdown-menu>
                        <li role="menuitem" ng-repeat="c in gridOptions.columnApi.getAllColumns() | orderBy:'colDef.headerName'">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-checked="c.isVisible()" ng-click="toggleVisibility(c.colId)">{{::c.colDef.headerName}}</label>
                            </div>
                        </li>
                    </menu>
                </div>
                <button class="btn btn-default" title="Clear Table Filters" ng-click="clearTableFilters()">Clear <i class="fa fa-filter"></i></button>
                <div class="btn-group" role="group" uib-dropdown is-open="more.isopen">
                    <button name="moreBtn" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                        More&nbsp;
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu-right dropdown-menu" uib-dropdown-menu>
                        <li role="menuitem"><button class="menu-item-button" type="button" ng-click="exportCSV()">Export CSV</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div style="height: 740px;" ag-grid="gridOptions" class="ds-requests-table ag-theme-alpine"></div>
    </div>
</div>

<menu id="context-menu" class="dropdown-menu" ng-style="menuStyle" type="contextmenu" ng-show="showMenu">
    <ul>
        <li role="menuitem">
            <button type="button" ng-click="editStatus(request, $event)" ng-disabled="!open(request)">Edit Status</button>
        </li>
        <hr class="divider"/>
        <li role="menuitem" ng-show="!request.assignee">
            <button type="button" ng-click="assignRequest(request, true, $event)" ng-disabled="!open(request)">Assign Request</button>
        </li>
        <li role="menuitem" ng-show="request.assignee">
            <button type="button" ng-click="assignRequest(request, false, $event)" ng-disabled="!open(request)">Unassign Request</button>
        </li>
        <hr class="divider"/>
        <li role="menuitem">
            <button type="button" ng-click="fulfillRequest(request, $event)" ng-disabled="!fulfillable(request)">Fulfill Request</button>
        </li>
        <li role="menuitem" ng-show="rejectable(request)">
            <button type="button" ng-click="rejectRequest(request, $event)">Reject Request</button>
        </li>
        <li role="menuitem" ng-show="completeable(request)">
            <button type="button" ng-click="completeRequest(request, $event)">Complete Request</button>
        </li>
        <li role="menuitem">
            <button type="button" ng-click="deleteRequest(request, $event)" ng-disabled="!open(request)">Delete Request</button>
        </li>
    </ul>
</menu>
