# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# To use this compose you should first build Traffic Ops and then copy the RPM to :
#
# trafficcontrol/infrastructure/cdn-in-a-box/traffic_ops/traffic_ops.rpm
#
#      cd trafficcontrol/infrastructure/cdn-in-a-box
#
# Adjust the settings in `variables.env` to suit your needs.
#
#      docker compose up -d
#
# The Traffic Ops API will then be available on https://localhost:6443,
# and the postgres database on localhost 5432.
#
# Note that this setup is intended for testing and not for production use.

---

services:
  # db is the Traffic Ops database running in postgresql.  Only trafficops needs to have access to it.
  # All other components access the database thru the Traffic Ops API
  db:
    build:
      context: .
      dockerfile: traffic_ops/Dockerfile-db
    hostname: db
    domainname: infra.ciab.test
    depends_on:
      - dns
    volumes:
      - shared:/shared
    env_file:
      - variables.env
    # TODO: change to expose: "5432" to limit to containers

  # trafficops runs Traffic Ops in a container.
  trafficops:
    build:
      context: ../../
      dockerfile: infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
      args:
        # Change BASE_IMAGE to centos when RHEL_VERSION=7
        BASE_IMAGE: ${BASE_IMAGE:-rockylinux}
        RHEL_VERSION: ${RHEL_VERSION:-8}
        TRAFFIC_OPS_RPM: infrastructure/cdn-in-a-box/traffic_ops/traffic_ops.rpm
    depends_on:
      - db
      - enroller
      - smtp
    domainname: infra.ciab.test
    env_file:
      - variables.env
    environment:
      SKIP_DIG_IP: ${SKIP_DIG_IP:-false}
      SKIP_TRAFFIC_OPS_DATA: ${SKIP_TRAFFIC_OPS_DATA:-false}
    hostname: trafficops
    image: trafficops
    volumes:
      - shared:/shared
      - ./traffic_ops/ca:/ca
      - traffic_ops_data:/traffic_ops_data

  # trafficportal defines the web interface for Traffic Ops.  It uses only the API exposed by Traffic Ops
  # and passes any /api/... routes directly to Traffic Ops
  trafficportal:
    build:
      context: .
      dockerfile: traffic_portal/Dockerfile
      args:
        # Change BASE_IMAGE to centos when RHEL_VERSION=7
        BASE_IMAGE: ${BASE_IMAGE:-rockylinux}
        RHEL_VERSION: ${RHEL_VERSION:-8}
        TRAFFIC_PORTAL_RPM: traffic_portal/traffic_portal.rpm
    depends_on:
      - enroller
    domainname: infra.ciab.test
    env_file:
      - variables.env
    hostname: trafficportal
    image: trafficportal
    volumes:
      - shared:/shared

  # trafficmonitor is an HTTP service that monitors the caches in a CDN for a variety of metrics
  trafficmonitor:
    build:
      context: .
      dockerfile: traffic_monitor/Dockerfile
      args:
        # Change BASE_IMAGE to centos when RHEL_VERSION=7
        BASE_IMAGE: ${BASE_IMAGE:-rockylinux}
        RHEL_VERSION: ${RHEL_VERSION:-8}
        TRAFFIC_MONITOR_RPM: traffic_monitor/traffic_monitor.rpm
    depends_on:
      - enroller
    volumes:
      - shared:/shared
    domainname: infra.ciab.test
    env_file:
      - variables.env
    hostname: trafficmonitor
    image: trafficmonitor

  # tchealthclient
  tchealthclient:
    build:
      context: .
      dockerfile: health/Dockerfile
      args:
        # Change BASE_IMAGE to centos when RHEL_VERSION=7
        BASE_IMAGE: ${BASE_IMAGE:-rockylinux}
        RHEL_VERSION: ${RHEL_VERSION:-8}
        TCH_RPM: health/trafficcontrol-health-client.rpm
    depends_on:
      - enroller
    volumes:
      - shared:/shared
    domainname: infra.ciab.test
    env_file:
      - variables.env
    hostname: tchealthclient
    image: tchealthclient

  # trafficrouter routes clients to the most optimal cache
  trafficrouter:
    build:
      context: .
      dockerfile: traffic_router/Dockerfile
      args:
        # Change BASE_IMAGE to centos when RHEL_VERSION=7
        BASE_IMAGE: ${BASE_IMAGE:-rockylinux}
        RHEL_VERSION: ${RHEL_VERSION:-8}
        TRAFFIC_ROUTER_RPM: traffic_router/traffic_router.rpm
        TOMCAT_RPM: traffic_router/tomcat.rpm
    depends_on:
      - enroller
    domainname: infra.ciab.test
    env_file:
      - variables.env
    hostname: trafficrouter
    volumes:
      - shared:/shared

  # trafficstats collect traffic information
  trafficstats:
    build:
      context: .
      dockerfile: traffic_stats/Dockerfile
      args:
        # Change BASE_IMAGE to centos when RHEL_VERSION=7
        BASE_IMAGE: ${BASE_IMAGE:-rockylinux}
        RHEL_VERSION: ${RHEL_VERSION:-8}
        TRAFFIC_TS_RPM: traffic_stats/traffic_stats.rpm
    image: trafficstats
    depends_on:
      - enroller
      - influxdb
    domainname: infra.ciab.test
    env_file:
      - variables.env
    hostname: trafficstats
    volumes:
      - shared:/shared

  influxdb:
    build:
      context: .
      dockerfile: traffic_stats/Dockerfile-influxdb
    hostname: influxdb
    domainname: infra.ciab.test
    depends_on:
      - dns
    env_file:
      - variables.env
    volumes:
      - shared:/shared

  # edge cache
  edge:
    build:
      context: ../..
      dockerfile: infrastructure/cdn-in-a-box/cache/Dockerfile
      target: edge
      args:
        # Change BASE_IMAGE to centos when RHEL_VERSION=7
        BASE_IMAGE: ${BASE_IMAGE:-rockylinux}
        RHEL_VERSION: ${RHEL_VERSION:-8}
        ORT_RPM: infrastructure/cdn-in-a-box/cache/trafficcontrol-cache-config.rpm
    domainname: infra.ciab.test
    depends_on:
      - tchealthclient
    environment:
      DEBUG_PORT: '2347'
    env_file:
      - variables.env
    hostname: edge
    volumes:
      # The /traffic_ops_data volume is included to set the ATS RPM version in the MID profile.
      - traffic_ops_data:/traffic_ops_data
      - shared:/shared

  # mid cache 1
  mid-01:
    build:
      context: ../..
      dockerfile: infrastructure/cdn-in-a-box/cache/Dockerfile
      target: mid
      args:
        # Change BASE_IMAGE to centos when RHEL_VERSION=7
        BASE_IMAGE: ${BASE_IMAGE:-rockylinux}
        RHEL_VERSION: ${RHEL_VERSION:-8}
        ORT_RPM: infrastructure/cdn-in-a-box/cache/trafficcontrol-cache-config.rpm
    domainname: infra.ciab.test
    depends_on:
      - tchealthclient
    environment:
      DEBUG_PORT: '2348'
    env_file:
      - variables.env
    hostname: mid-01
    volumes:
      # The /traffic_ops_data volume is included to set the ATS RPM version in the MID profile.
      - traffic_ops_data:/traffic_ops_data
      - shared:/shared

  # mid cache 2
  mid-02:
    build:
      context: ../..
      dockerfile: infrastructure/cdn-in-a-box/cache/Dockerfile
      target: mid
      args:
        # Change BASE_IMAGE to centos when RHEL_VERSION=7
        BASE_IMAGE: ${BASE_IMAGE:-rockylinux}
        RHEL_VERSION: ${RHEL_VERSION:-8}
        ORT_RPM: infrastructure/cdn-in-a-box/cache/trafficcontrol-cache-config.rpm
    domainname: infra.ciab.test
    depends_on:
      - tchealthclient
    environment:
      DEBUG_PORT: '2349'
    env_file:
      - variables.env
    hostname: mid-02
    volumes:
      # The /traffic_ops_data volume is included to set the ATS RPM version in the MID profile.
      - traffic_ops_data:/traffic_ops_data
      - shared:/shared

  # origin provides the content to be distributed through the CDN caches
  origin:
    build:
      context: .
      dockerfile: origin/Dockerfile
    depends_on:
      - enroller
    domainname: infra.ciab.test
    env_file:
      - variables.env
    hostname: origin
    volumes:
      - shared:/shared


  # enroller provides a way to register component instances with traffic_ops
  enroller:
    build:
      context: ../..
      dockerfile: infrastructure/cdn-in-a-box/enroller/Dockerfile
      args:
          - GO_VERSION=${GO_VERSION}
    domainname: infra.ciab.test
    depends_on:
      - dns
    env_file:
      - variables.env
    hostname: enroller
    volumes:
      - shared:/shared

  # Bind9 DNS services work in combination with the traffic router to route clients to the optimal cache
  dns:
    build:
      context: .
      dockerfile: dns/Dockerfile
    env_file:
      - variables.env
    volumes:
      - shared:/shared
    hostname: dns
    domainname: infra.ciab.test

  smtp:
    build:
      context: .
      dockerfile: smtp/Dockerfile
    hostname: smtp
    depends_on:
      - dns
    env_file:
      - variables.env
    volumes:
      - shared:/shared
    domainname: infra.ciab.test

  # static provides the MaxMind databases and coverage-zone.json, which used to be served by Traffic Ops Perl.
  static:
    build:
      context: ../..
      dockerfile: infrastructure/cdn-in-a-box/static/Dockerfile
    domainname: infra.ciab.test
    hostname: static
    env_file:
      - variables.env
    volumes:
      - shared:/shared

volumes:
  schemas:
    external: false
  shared:
    external: false
  traffic_ops_data:
    external: false
  content:
    external: false
  ca:
    external: false
