<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/coordinates')">Coordinates</a></li>
            <li class="active">{{coordinateName}}</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form name="coordinateForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(coordinateForm.name), 'has-feedback': hasError(coordinateForm.name)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Name *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="name" type="text" class="form-control" ng-model="coordinate.name" ng-maxlength="45" ng-pattern="/^\S*$/" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(coordinateForm.name, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(coordinateForm.name, 'maxlength')">Too Long</small>
                    <small class="input-error" ng-show="hasPropertyError(coordinateForm.name, 'pattern')">No spaces</small>
                    <span ng-show="hasError(coordinateForm.name)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(coordinateForm.latitude), 'has-feedback': hasError(coordinateForm.latitude)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Geo Magnetic Latitude *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="latitude" type="number" class="form-control" ng-model="coordinate.latitude" ng-min="-90.0" ng-max="90.0" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(coordinateForm.latitude, 'required')">Required latitude</small>
                    <small class="input-error" ng-show="hasPropertyError(coordinateForm.latitude, 'min')">Invalid latitude. Must be between -90.0 and 90.0</small>
                    <small class="input-error" ng-show="hasPropertyError(coordinateForm.latitude, 'max')">Invalid latitude. Must be between -90.0 and 90.0</small>
                    <span ng-show="hasError(coordinateForm.latitude)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(coordinateForm.longitude), 'has-feedback': hasError(coordinateForm.longitude)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Geo Magnetic Longitude *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="longitude" type="number" class="form-control" ng-model="coordinate.longitude" ng-min="-180.0" ng-max="180.0" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(coordinateForm.longitude, 'required')">Required longitude</small>
                    <small class="input-error" ng-show="hasPropertyError(coordinateForm.longitude, 'min')">Invalid longitude. Must be between -180.0 and 180.0</small>
                    <small class="input-error" ng-show="hasPropertyError(coordinateForm.longitude, 'max')">Invalid longitude. Must be between -180.0 and 180.0</small>
                    <span ng-show="hasError(coordinateForm.longitude)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-show="!settings.isNew" ng-click="confirmDelete(coordinate)">Delete</button>
                <button type="button" class="btn btn-success" ng-disabled="coordinateForm.$pristine || coordinateForm.$invalid" ng-click="save(coordinate)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>
