<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb">
            <li><a ng-click="navigateToPath('/admin/asns')">ASNs</a></li>
            <li class="active">{{asnName}}</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form name="asnForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(asnForm[prop.name]), 'has-feedback': hasError(asnForm[prop.name])}" ng-repeat="prop in props">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">{{labelize(prop.name)}} <span ng-show="prop.required">*</span></label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input id="{{prop.name}}" name="{{prop.name}}" type="{{prop.type}}" class="form-control" ng-model="asn[prop.name]" ng-readonly="prop.readonly" ng-required="prop.required" ng-maxlength="prop.maxLength" autofocus>
                    <small class="input-error" ng-show="hasPropertyError(asnForm[prop.name], 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(asnForm[prop.name], 'maxlength')">Too Long</small>
                    <span ng-show="hasError(asnForm[prop.name])" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(asnForm.cachegroup), 'has-feedback': hasError(asnForm.cachegroup)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Cache Group *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="cachegroup" name="cachegroup" class="form-control" ng-model="asn._links.cachegroup.id" ng-options="cachegroup.id as cachegroup.name for cachegroup in cachegroups" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(asnForm.cachegroup, 'required')">Required</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-show="settings.showDelete" ng-click="confirmDelete(asn)">Delete</button>
                <button type="button" class="btn btn-primary" ng-disabled="asnForm.$pristine || asnForm.$invalid" ng-click="save(asn)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>