<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="main-nav scroll-view">
    <div class="navbar nav_title">
        <span class="site_title">{{appName}}</span>
    </div>
    <div class="clearfix"></div>
    <div id="sidebar-menu" ng-show="userLoaded" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li class="side-menu-category" ng-class="{'current-page': isState('trafficPortal.private.dashboard')}"><a href="/#!/dashboard"><i class="fa fa-sm fa-bar-chart"></i> Dashboard</a></li>
                <li class="side-menu-category" ng-if="hasCapability('cdns-read')" ng-class="{'current-page': isState('trafficPortal.private.cdns')}"><a href="/#!/cdns"><i class="fa fa-sm fa-sitemap"></i> CDNs</a></li>
                <li class="side-menu-category"><a href="javascript:void(0);"><i class="fa fa-sm fa-chevron-right"></i> Monitor</a>
                    <ul class="nav child_menu" style="display: none">
                        <li class="side-menu-category-item" ng-if="::showCacheChecks && hasCapability('servers-read')" ng-class="{'current-page': isState('trafficPortal.private.cacheChecks')}"><a href="/#!/cache-checks">Cache Checks</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('stats-read')" ng-class="{'current-page': isState('trafficPortal.private.cacheStats')}"><a href="/#!/cache-stats">Cache Stats</a></li>
                    </ul>
                </li>
                <li class="side-menu-category"><a href="javascript:void(0);"><i class="fa fa-sm fa-chevron-right"></i> Services</a>
                    <ul class="nav child_menu" style="display: none">
                        <li class="side-menu-category-item" ng-if="hasCapability('delivery-services-read')" ng-class="{'current-page': isState('trafficPortal.private.deliveryServices')}"><a href="/#!/delivery-services">Delivery Services</a></li>
                        <li class="side-menu-category-item" ng-if="::dsRequestsEnabled && hasCapability('delivery-service-requests-read')" ng-class="{'current-page': isState('trafficPortal.private.deliveryServiceRequests')}"><a href="/#!/delivery-service-requests">Delivery Service Requests</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('service-categories-read')" ng-class="{'current-page': isState('trafficPortal.private.serviceCategories')}"><a href="/#!/service-categories">Service Categories</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficPortal.private.certExpirations')}"><a href="/#!/cert-expirations">Certificate Expirations</a></li>
                    </ul>
                </li>
                <li class="side-menu-category"><a href="javascript:void(0);"><i class="fa fa-sm fa-chevron-right"></i> Configure</a>
                    <ul class="nav child_menu" style="display: none">
                        <li class="side-menu-category-item" ng-if="hasCapability('servers-read')" ng-class="{'current-page': isState('trafficPortal.private.servers')}"><a href="/#!/servers">Servers</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('server-capabilities-read')" ng-class="{'current-page': isState('trafficPortal.private.serverCapabilities')}"><a href="/#!/server-capabilities">Server Capabilities</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('origins-read')" ng-class="{'current-page': isState('trafficPortal.private.origins')}"><a href="/#!/origins">Origins</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('profiles-read')" ng-class="{'current-page': isState('trafficPortal.private.profiles')}"><a href="/#!/profiles">Profiles</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('params-read')" ng-class="{'current-page': isState('trafficPortal.private.parameters')}"><a href="/#!/parameters">Parameters</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('types-read')" ng-class="{'current-page': isState('trafficPortal.private.types')}"><a href="/#!/types">Types</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('statuses-read')" ng-class="{'current-page': isState('trafficPortal.private.statuses')}"><a href="/#!/statuses">Statuses</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficPortal.private.cdniConfigRequests')}"><a href="/#!/cdni-config-requests">CDNi Requests</a></li>
                    </ul>
                </li>
                <li class="side-menu-category"><a href="javascript:void(0);"><i class="fa fa-sm fa-chevron-right"></i> Topology</a>
                    <ul class="nav child_menu" style="display: none">
                        <li class="side-menu-category-item" ng-if="hasCapability('topologies-read')" ng-class="{'current-page': isState('trafficPortal.private.topologies')}"><a href="/#!/topologies">Topologies</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('cache-groups-read')" ng-class="{'current-page': isState('trafficPortal.private.cacheGroups')}"><a href="/#!/cache-groups">Cache Groups</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('coordinates-read')" ng-class="{'current-page': isState('trafficPortal.private.coordinates')}"><a href="/#!/coordinates">Coordinates</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('phys-locations-read')" ng-class="{'current-page': isState('trafficPortal.private.physLocations')}"><a href="/#!/phys-locations">Phys Locations</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('divisions-read')" ng-class="{'current-page': isState('trafficPortal.private.divisions')}"><a href="/#!/divisions">Divisions</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('regions-read')" ng-class="{'current-page': isState('trafficPortal.private.regions')}"><a href="/#!/regions">Regions</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('asns-read')" ng-class="{'current-page': isState('trafficPortal.private.asns')}"><a href="/#!/asns">ASNs</a></li>
                    </ul>
                </li>
                <li class="side-menu-category"><a href="javascript:void(0);"><i class="fa fa-sm fa-chevron-right"></i> Tools</a>
                    <ul class="nav child_menu" style="display: none">
                        <li class="side-menu-category-item" ng-if="hasCapability('jobs-read')" ng-class="{'current-page': isState('trafficPortal.private.jobs')}"><a href="/#!/jobs">Invalidate Content</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('iso-generate')" ng-class="{'current-page': isState('trafficPortal.private.iso')}"><a href="/#!/iso">Generate ISO</a></li>
                        <li class="side-menu-category-item" ng-class="{'current-page': isState('trafficPortal.private.ssl')}"><a href="/#!/inspect-cert">Inspect Cert</a></li>
                    </ul>
                </li>
                <li class="side-menu-category"><a href="javascript:void(0);"><i class="fa fa-sm fa-chevron-right"></i> User Admin</a>
                    <ul class="nav child_menu" style="display: none">
                        <li class="side-menu-category-item" ng-if="hasCapability('users-read')" ng-class="{'current-page': isState('trafficPortal.private.users')}"><a href="/#!/users">Users</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('tenants-read')" ng-class="{'current-page': isState('trafficPortal.private.tenants')}"><a href="/#!/tenants">Tenants</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('roles-read')" ng-class="{'current-page': isState('trafficPortal.private.roles')}"><a href="/#!/roles">Roles</a></li>
                        <li class="side-menu-category-item" ng-if="hasCapability('notifications-read')" ng-class="{'current-page': isState('trafficPortal.private.notifications')}"><a href="/#!/notifications">Notifications</a></li>
                        <li class="side-menu-category-item" ng-if="enforceCapabilities && hasCapability('capabilities-read')" ng-class="{'current-page': isState('trafficPortal.private.capabilities')}"><a href="/#!/capabilities">Capabilities</a></li>
                        <li class="side-menu-category-item" ng-if="enforceCapabilities && hasCapability('api-endpoints-read')" ng-class="{'current-page': isState('trafficPortal.private.endpoints')}"><a href="/#!/endpoints">API Endpoints</a></li>
                    </ul>
                </li>
                <li class="side-menu-category" ng-if="customMenu.items.length > 0"><a href="javascript:void(0);"><i class="fa fa-sm fa-chevron-right"></i> {{::customMenu.name}}</a>
                    <ul class="nav child_menu" style="display: none">
                        <li class="side-menu-category-item" ng-repeat="item in ::customMenu.items"><a href="{{customURL(item)}}" target="{{customTarget(item)}}">{{item.name}}</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <div class="sidebar-footer hidden-small">
        <a title="Logout" ng-show="userLoaded" ng-click="logout()" uib-popover="Logout" popover-trigger="mouseenter"><i class="fa fa-sign-out"></i></a>
        <a title="Login" ng-show="!userLoaded" ui-sref="trafficPortal.public.login" uib-popover="Login" popover-trigger="mouseenter"><i class="fa fa-sign-in"></i></a>
        <a title="User Profile" ui-sref="trafficPortal.private.user.edit" uib-popover="User Profile" popover-trigger="mouseenter"><i class="fa fa-user"></i></a>
        <a title="Release Info" ng-click="releaseVersion()" uib-popover="Release Info" popover-trigger="mouseenter"><i class="fa fa-info"></i></a>
        <a title="Popout" ng-click="popout()" uib-popover="Popout" popover-trigger="mouseenter"><i class="fa fa-external-link"></i></a>
    </div>
</div>
