<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/roles')">Roles</a></li>
            <li class="active">{{roleName}}</li>
        </ol>
        <div class="pull-right" role="group" ng-show="!settings.isNew">
            <button type="button" class="btn btn-primary" title="View Capabilities" ng-show="enforceCapabilities" ng-click="viewCapabilities()">View Capabilities</button>
            <button type="button" class="btn btn-primary" title="View Users" ng-click="viewUsers()">View Users</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form name="roleForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(roleForm.name), 'has-feedback': hasError(roleForm.name)}">
                <label for="name" class="control-label col-md-2 col-sm-2 col-xs-12">Name</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="name" id="name" type="text" class="form-control" ng-model="role.name" ng-readonly="!hasPropertyError(roleForm.name, 'pattern') && role.name === 'admin'" ng-pattern="namePattern()" required autofocus/>
                    <small class="input-error" ng-show="hasPropertyError(roleForm.name, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(roleForm.name, 'pattern')">Cannot be named "admin"</small>
                    <span ng-show="hasError(roleForm.name)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(roleForm.description), 'has-feedback': hasError(roleForm.description)}">
                <label for="description" class="control-label col-md-2 col-sm-2 col-xs-12">Description</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <textarea name="description" id="description" ng-readonly="!hasPropertyError(roleForm.name, 'pattern') && role.name === 'admin'" type="text" class="form-control" ng-model="role.description" rows="3" required></textarea>
                    <small class="input-error" ng-show="hasPropertyError(roleForm.description, 'required')">Required</small>
                    <span ng-show="hasError(roleForm.description)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label for="permissions" class="control-label col-md-2 col-sm-2 col-xs-12">Permissions</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <textarea name="permissions" id="permissions" class="form-control" ng-value="role.permissions.join('\n')" rows="10" readonly></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-show="!settings.isNew" ng-disabled="!hasPropertyError(roleForm.name, 'pattern') && role.name === 'admin'" ng-click="confirmDelete(role)">Delete</button>
                <button type="button" class="btn btn-success" ng-disabled="(!hasPropertyError(roleForm.name, 'pattern') && role.name === 'admin') || roleForm.$pristine || roleForm.$invalid" ng-click="confirmSave(role)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>
