<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/delivery-services')">Delivery Services</a></li>
            <li><a ng-click="navigateToPath('/delivery-services/' + deliveryService.id + '?dsType=' + deliveryService.type)">{{::deliveryService.xmlId}}</a></li>
            <li class="active">Origins</li>
        </ol>
        <div class="pull-right" role="group">
            <button class="btn btn-primary" title="Create Origin" ng-click="createOrigin()"><i class="fa fa-plus"></i></button>
            <button class="btn btn-default" title="Refresh" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <table id="originsTable" class="table responsive-utilities jambo_table">
            <thead>
                <tr class="headings">
                    <th>Name</th>
                    <th>Tenant</th>
                    <th>Primary</th>
                    <th>Delivery Service</th>
                    <th>FQDN</th>
                    <th>IPv4 Address</th>
                    <th>IPv6 Address</th>
                    <th>Protocol</th>
                    <th>Port</th>
                    <th>Coordinate</th>
                    <th>Cachegroup</th>
                    <th>Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="editOrigin(o.id)" ng-repeat="o in ::origins">
                    <td data-search="^{{::o.name}}$">{{::o.name}}</td>
                    <td data-search="^{{::o.tenant}}$">{{::o.tenant}}</td>
                    <td data-search="^{{::o.isPrimary}}$">{{::o.isPrimary}}</td>
                    <td data-search="^{{::o.deliveryService}}$">{{::o.deliveryService}}</td>
                    <td data-search="^{{::o.fqdn}}$">{{::o.fqdn}}</td>
                    <td data-search="^{{::o.ipAddress}}$">{{::o.ipAddress}}</td>
                    <td data-search="^{{::o.ip6Address}}$">{{::o.ip6Address}}</td>
                    <td data-search="^{{::o.protocol}}$">{{::o.protocol}}</td>
                    <td data-search="^{{::o.port}}$">{{::o.port}}</td>
                    <td data-search="^{{::o.coordinate}}$">{{::o.coordinate}}</td>
                    <td data-search="^{{::o.cachegroup}}$">{{::o.cachegroup}}</td>
                    <td data-search="^{{::o.profile}}$">{{::o.profile}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

