<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/types')">Types</a></li>
            <li><a ng-click="navigateToPath('/types/' + type.id)">{{::type.name}}</a></li>
            <li class="active">Cache Groups</li>
        </ol>
        <div class="pull-right">
            <button class="btn btn-default" title="Refresh" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
            <div id="toggleColumns" class="btn-group" role="group" title="Select Table Columns" uib-dropdown is-open="columnSettings.isopen">
                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-columns"></i>&nbsp;
                    <span class="caret"></span>
                </button>
                <menu ng-click="$event.stopPropagation()" class="column-settings dropdown-menu-right dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem" ng-repeat="c in columns | orderBy:'name'">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="c.visible" ng-click="toggleVisibility(c.name)"> {{::c.name}}</label>
                        </div>
                    </li>
                </menu>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <table id="typeCacheGroupsTable" class="table responsive-utilities jambo_table">
            <thead>
            <tr class="headings">
                <th>Name</th>
                <th>Short Name</th>
                <th>Type</th>
                <th>1st Parent</th>
                <th>2nd Parent</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="editCacheGroup(cg.id)" ng-repeat="cg in ::cacheGroups" context-menu="contextMenuItems">
                <td data-search="^{{::cg.name}}$">{{::cg.name}}</td>
                <td data-search="^{{::cg.shortName}}$">{{::cg.shortName}}</td>
                <td data-search="^{{::cg.typeName}}$">{{::cg.typeName}}</td>
                <td data-search="^{{::cg.parentCachegroupName}}$">{{::cg.parentCachegroupName}}</td>
                <td data-search="^{{::cg.secondaryParentCachegroupName}}$">{{::cg.secondaryParentCachegroupName}}</td>
                <td data-search="^{{::cg.latitude}}$">{{::cg.latitude}}</td>
                <td data-search="^{{::cg.longitude}}$">{{::cg.longitude}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

