<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<section id="loginContainer">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Login</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form name="loginForm" role="form" class="form-horizontal form-label-left" novalidate>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loginUsername">Username <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="loginUsername" name="loginUsername" type="text" class="form-control" autocomplete="off" ng-model="credentials.username" autofocus required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loginPass">Password <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="loginPass" name="loginPass" type="password" class="form-control" autocomplete="off" ng-model="credentials.password" required>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button name="loginSubmit" type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="login($event, credentials)">Log in &nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
                            <button name="loginOauthSubmit" ng-if="oAuthEnabled" type="button" class="btn btn-primary" ng-click="loginOauth()">Log in With SSO&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
                            <button type="button" class="btn btn-link" ng-click="resetPassword()">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
