<div class="row">
    <div class="col-sm-8 col-md-8">
        <h3>Edit User Profile</h3>
    </div>
    <div class="col-sm-4 col-md-4">
        <button type="button" class="btn action-btn" ng-disabled="userForm.$pristine || userForm.$invalid" ng-click="confirmUpdate(userData, userForm.username)">Update</button>
    </div>
</div>
<hr>
<form class="register-form col-sm-8 col-md-8" name="userForm" role="form" novalidate>
    <fieldset>
        <legend>User Details</legend>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{'has-error': hasError(userForm.fullName), 'has-feedback': hasError(userForm.fullName)}">
                    <label class="control-label" for="fullName">Full Name
                        <small ng-show="hasPropertyError(userForm.fullName, 'required')">[ Required ]</small>
                        <small ng-show="hasPropertyError(userForm.fullName, 'maxlength')">[ Too Long ]</small>
                    </label>
                    <input id="fullName" name="fullName" type="text" class="form-control" ng-model="userData.fullName" ng-maxlength="256" autofocus required>
                    <span ng-show="hasError(userForm.fullName)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{'has-error': hasError(userForm.role), 'has-feedback': hasError(userForm.role)}">
                    <label class="control-label" for="role">Role
                        <small ng-show="hasPropertyError(userForm.role, 'maxlength')">[ Too Long ]</small>
                    </label>
                    <input id="role" name="role" type="text" class="form-control" ng-model="userData._links.role.id" ng-maxlength="256">
                    <span ng-show="hasError(userForm.role)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{'has-error': hasError(userForm.email), 'has-feedback': hasError(userForm.email)}">
                    <label class="control-label" for="email">Email
                        <small ng-show="hasPropertyError(userForm.email, 'required')">[ Required ]</small>
                        <small ng-show="hasPropertyError(userForm.email, 'maxlength')">[ Too Long ]</small>
                    </label>
                    <input id="email" name="email" type="email" class="form-control" ng-model="userData.email" ng-maxlength="128" required>
                    <span ng-show="hasError(userForm.email)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{'has-error': hasError(userForm.username), 'has-feedback': hasError(userForm.username)}">
                    <label class="control-label" for="userName">Username
                        <small ng-show="hasPropertyError(userForm.username, 'required')">[ Required ]</small>
                        <small ng-show="hasPropertyError(userForm.username, 'maxlength')">[ Too Long ]</small>
                    </label>
                    <input id="username" name="username" type="text" class="form-control" ng-model="userData.username" ng-maxlength="128" required>
                    <span ng-show="hasError(userForm.username)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{'has-error': hasError(userForm.password), 'has-feedback': hasError(userForm.password)}">
                    <label class="control-label" for="password">New Password <span ng-show="!registration && !reset">(optional)</span>
                        <small ng-show="hasPropertyError(userForm.password, 'minlength')">[ Too Short ]</small>
                    </label>
                    <input id="password" name="password" type="password" class="form-control" ng-model="userData.localPasswd" ng-required="registration || reset" ng-minlength="6">
                    <span ng-show="hasError(userForm.password)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{'has-error': hasError(userForm.confirmPassword), 'has-feedback': hasError(userForm.confirmPassword)}">
                    <label class="control-label" for="confirmPassword">Confirm New Password <span ng-show="!registration && !reset && !userData.localPasswd">(optional)</span>
                        <small ng-show="hasPropertyError(userForm.confirmPassword, 'match')">[ Doesn't Match ]</small>
                    </label>
                    <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" ng-model="userData.confirmLocalPasswd" match="userData.localPasswd">
                    <span ng-show="hasError(userForm.confirmPassword)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
    </fieldset>
</form>
