<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li class="active">CDNs</li>
        </ol>
        <button class="btn btn-primary pull-right" ng-click="createCDN()">New</button>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <table id="cdnsTable" class="table responsive-utilities jambo_table">
            <thead>
                <tr class="headings">
                    <th>name</th>
                    <th>dnssecEnabled</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="editCDN(cdn.id)" ng-repeat="cdn in cdns">
                    <td>{{cdn.name}}</td>
                    <td>{{cdn.dnssecEnabled}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

