<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/cdns')">CDNs</a></li>
            <li><a ng-click="navigateToPath('/cdns/' + cdn.id)">{{cdn.name}}</a></li>
            <li><a ng-click="navigateToPath('/cdns/' + cdn.id + '/dnssec-keys')">DNSSEC Keys</a></li>
            <li class="active">Generate</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <div class="col-md-2 col-sm-2 col-xs-12"></div><div class="dnssec-info-text col-md-10 col-sm-10 col-xs-12">{{msg}}</div>
        <form name="cdnGenerateDnssecKeysForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">CDN *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="key" class="form-control" ng-model="dnssecKeysRequest.key" readonly>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cdnGenerateDnssecKeysForm.kskExpirationDays), 'has-feedback': hasError(cdnGenerateDnssecKeysForm.kskExpirationDays)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">KSK Expiration (Days) *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="kskExpirationDays" type="number" class="form-control" ng-model="dnssecKeysRequest.kskExpirationDays" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cdnGenerateDnssecKeysForm.kskExpirationDays, 'required')">Required</small>
                    <span ng-show="hasError(cdnGenerateDnssecKeysForm.kskExpirationDays)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cdnGenerateDnssecKeysForm.zskExpirationDays), 'has-feedback': hasError(cdnGenerateDnssecKeysForm.zskExpirationDays)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">ZSK Expiration (Days) *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="zskExpirationDays" type="number" class="form-control" ng-model="dnssecKeysRequest.zskExpirationDays" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cdnGenerateDnssecKeysForm.zskExpirationDays, 'required')">Required</small>
                    <span ng-show="hasError(cdnGenerateDnssecKeysForm.zskExpirationDays)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cdnGenerateDnssecKeysForm.effectiveDate), 'has-feedback': hasError(cdnGenerateDnssecKeysForm.effectiveDate)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Effective Date (UTC) *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input class="form-control"
                           placeholder="Select a date..."
                           moment-picker="effectiveDate"
                           format="YYYY-MM-DD HH:mm:ss"
                           start-view="month"
                           today="true"
                           name="effectiveDate"
                           type="text"
                           ng-model="effectiveDate"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-pattern="/^[0-9\:\-\ ]+$/"
                           change="ctrl.zeroSeconds()"
                           required
                           autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cdnGenerateDnssecKeysForm.effectiveDate, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(cdnGenerateDnssecKeysForm.effectiveDate, 'pattern')">Invalid date format (YYYY-MM-DD HH:mm:ss)</small>
                    <span ng-show="hasError(cdnGenerateDnssecKeysForm.effectiveDate)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-disabled="cdnGenerateDnssecKeysForm.$invalid" ng-click="confirmGenerate()">Regenerate</button>
            </div>
        </form>
    </div>
</div>
