<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/delivery-services')">Delivery Services</a></li>
            <li><a ng-click="navigateToPath('/delivery-services/' + deliveryService.id + '?dsType=' + deliveryService.type)">{{deliveryService.xmlId}}</a></li>
            <li><a ng-click="navigateToPath('/delivery-services/' + deliveryService.id + '/jobs')">Invalidation Requests</a></li>
            <li class="active">{{jobName}}</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="helptext">
            <aside class="warning">
                <h6>Warning</h6>
                <dl>
                    <dt>Refresh (preferred default)</dt>
                    <dd>Marks the matching asset(s) as "stale" and an IMS request of the asset(s) from the origin will be performed. Origins that fully adhere 
                    to the <a href="https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.25" target="_blank" rel="external">If-Modified-Since</a> 
                    and <a href="https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26" target="_blank" rel="external">If-None-Match</a> specification can safely invalidate content using Refresh.</dd>
                    <dt>Refetch</dt>
                    <dd>Marks the matching asset(s) as a cache "miss" and a new full request of the asset(s) from the origin will be performed. 
                    This operation is expensive and it is <em>highly recommended</em> that the specified regex is very specific when using Refetch.</dd>
                </dl>
                <p>For additional information please see the documentation for <a href="https://traffic-control-cdn.readthedocs.io/en/latest/overview/jobs.html" target="_blank" rel="external">Content Invalidation Jobs</a>.</p>
            </aside>
        </div>
        <br>
        <form name="jobForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(jobForm.regex), 'has-feedback': hasError(jobForm.regex)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Path Regex *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="regex" type="text" class="form-control" placeholder="eg. /path/to/content/.*\.jpg" ng-model="job.regex" ng-required="true" ng-maxlength="255" ng-pattern="/^\//" autofocus>
                    <small class="input-error" ng-show="hasPropertyError(jobForm.regex, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(jobForm.regex, 'maxlength')">Too Long</small>
                    <small class="input-error" ng-show="hasPropertyError(jobForm.regex, 'pattern')">Must Start with /</small>
                    <span ng-show="hasError(jobForm.regex)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(jobForm.ttlhours), 'has-feedback': hasError(jobForm.ttlhours)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">TTL (hours) *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="ttlhours" type="number" class="form-control" placeholder="Number of hours until the invalidation request expires" ng-model="job.ttlhours" min="1" max="999" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(jobForm.ttlhours, 'required')">Required Whole Number</small>
                    <span ng-show="hasError(jobForm.ttlhours)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(jobForm.invalidationtype), 'has-feedback': hasError(jobForm.invalidationtype)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Invalidation Type *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select name="invalidationtype" class="form-control" ng-model="job.invalidationType" ng-options="invalidationtype as invalidationtype for invalidationtype in invalidationtypes" required>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(jobForm.invalidationtype, 'required')">Required</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-disabled="jobForm.$pristine || jobForm.$invalid" ng-click="save(job)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>
