<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li class="active">Delivery Services</li>
        </ol>
        <button class="btn btn-primary pull-right" ng-click="createDeliveryService()">New</button>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <table id="deliveryServicesTable" class="table responsive-utilities jambo_table">
            <thead>
                <tr class="headings">
                    <th>xmlId</th>
                    <th>orgServerFqdn</th>
                    <th>cdn</th>
                    <th>profile</th>
                    <th>ccrDnsTtl</th>
                    <th>active</th>
                    <th>type</th>
                    <th>dscp</th>
                    <th>signed</th>
                    <th>qstringIgnore</th>
                    <th>geoLimit</th>
                    <th>protocol</th>
                    <th>ipv6RoutingEnabled</th>
                    <th>rangeRequestHandling</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="editDeliveryService(deliveryService.id)" ng-repeat="deliveryService in deliveryServices">
                    <td>{{deliveryService.xmlId}}</td>
                    <td>{{deliveryService.orgServerFqdn}}</td>
                    <td>{{deliveryService._links.cdn.id}}</td>
                    <td>{{deliveryService._links.profile.id}}</td>
                    <td>{{deliveryService.ccrDnsTtl}}</td>
                    <td>{{deliveryService.active}}</td>
                    <td>{{deliveryService._links.type.id}}</td>
                    <td>{{deliveryService.dscp}}</td>
                    <td>{{deliveryService.signed}}</td>
                    <td>{{deliveryService.qstringIgnore}}</td>
                    <td>{{deliveryService.geoLimit}}</td>
                    <td>{{deliveryService.protocol}}</td>
                    <td>{{deliveryService.ipv6RoutingEnabled}}</td>
                    <td>{{deliveryService.rangeRequestHandling}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

