

/** override bootstrap-sass variables here

/*$screen-xs:                  1024px;
$screen-sm:                  1280px;
$screen-md:                  200px;
$screen-lg:                  2000px;

$container-sm:               1300px;
$container-md:               1260px;
$container-lg:               1520px;*/
