<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'homePage'}}">Project 5799</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#with login_response}}
            {{#if token}}
                <li class="{{activeRouteClass 'browseCameras'}}">
                    <a href="{{pathFor 'browseCameras'}}">Cameras</a>
                </li>
                <li class="{{activeRouteClass 'browseVideos'}}">
                    <a href="{{pathFor 'browseVideos'}}">Videos</a>
                </li>
                <li class="{{activeRouteClass 'addCamera'}}">
                    <a href="{{pathFor 'addCamera'}}">Add Camera</a>
                </li>
                <li class="{{activeRouteClass 'editUser'}}">
                    <a href="{{pathFor 'editUser'}}">Profile</a>
                </li>
                <li>
                    <a href="#" id="logout_button" style="color:red;">Logout</a>
                </li>
            {{/if}}
        {{/with}}
      </ul>
    </div>
  </nav>
</template>