<?xml version="1.0" encoding="UTF-8"?>
<!-- 

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	   default-init-method="init" default-destroy-method="destroy">

	<import resource="classpath:/applicationProperties.xml" />

	<context:component-scan base-package="org.apache.traffic_control.traffic_router" >
		<context:exclude-filter type="regex" expression="org\.apache\.traffic_control\.traffic_router\.api.*"/>
	</context:component-scan>

	<bean id="databasesDir" class="java.nio.file.Paths" factory-method="get">
		<constructor-arg>
			<value>$[deploy.dir:/opt/traffic_router]/db</value>
		</constructor-arg>
		<constructor-arg><array /></constructor-arg>
	</bean>

	<bean id="propertiesDir" class="java.nio.file.Paths" factory-method="get">
		<constructor-arg>
			<value>$[deploy.dir:/opt/traffic_router]/conf</value>
		</constructor-arg>
		<constructor-arg><array /></constructor-arg>
	</bean>

	<bean id="autoZonesDir" class="java.io.File">
		<constructor-arg>
			<value>$[dns.zones.dir:/opt/traffic_router/var/auto-zones]</value>
		</constructor-arg>
	</bean>

	<bean id="statTracker" class="org.apache.traffic_control.traffic_router.core.router.StatTracker"/>

	<bean name="staticZoneManagerZoneDirectoryInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="org.apache.traffic_control.traffic_router.core.dns.ZoneManager.setZoneDirectory"/>
		<property name="arguments">
			<list><ref bean="autoZonesDir"/></list>
		</property>
	</bean>

	<bean id="trafficRouterManager" class="org.apache.traffic_control.traffic_router.core.router.TrafficRouterManager">
		<property name="statTracker" ref="statTracker" />
		<property name="nameServer" ref="NameServer" />
		<property name="trafficOpsUtils" ref="trafficOpsUtils" />
		<property name="federationRegistry" ref="federationsRegistry" />
		<property name="geolocationService" ref="maxmindGeolocationService" />
		<property name="geolocationService6" ref="maxmindGeolocationService" />
		<property name="anonymousIpService" ref="anonymousIpDatabaseService" />
		<property name="steeringRegistry" ref="steeringRegistry" />
	</bean>

	<bean id="federationsRegistry" class="org.apache.traffic_control.traffic_router.core.loc.FederationRegistry"/>

	<bean id="federationsWatcher" class="org.apache.traffic_control.traffic_router.core.loc.FederationsWatcher" init-method="init">
		<property name="executorService" ref="ScheduledExecutorService" />
		<property name="databasesDirectory" ref="databasesDir" />
		<property name="databaseName" value="$[cache.federations.database:federations.json]" />
		<property name="pollingInterval" value="$[cache.federations.database.refresh.period:300000]" />
		<property name="trafficOpsUtils" ref="trafficOpsUtils" />
		<property name="trafficRouterManager" ref="trafficRouterManager" />
		<property name="federationRegistry" ref="federationsRegistry" />
	</bean>

	<bean id="steeringRegistry" class="org.apache.traffic_control.traffic_router.core.ds.SteeringRegistry"/>

	<bean id="steeringWatcher" class="org.apache.traffic_control.traffic_router.core.ds.SteeringWatcher">
		<property name="executorService" ref="ScheduledExecutorService" />
		<property name="databasesDirectory" ref="databasesDir" />
		<property name="databaseName" value="$[cache.steering.database:steering.json]" />
		<property name="trafficOpsUtils" ref="trafficOpsUtils" />
		<property name="trafficRouterManager" ref="trafficRouterManager" />
		<property name="steeringRegistry" ref="steeringRegistry" />
	</bean>

	<bean id="letsEncryptDnsChallengeWatcher" class="org.apache.traffic_control.traffic_router.core.ds.LetsEncryptDnsChallengeWatcher">
		<property name="executorService" ref="ScheduledExecutorService" />
		<property name="databasesDirectory" ref="databasesDir" />
		<property name="databaseName" value="$[cache.letsencrypt.database:letsencrypt.json]" />
		<property name="trafficOpsUtils" ref="trafficOpsUtils" />
		<property name="trafficRouterManager" ref="trafficRouterManager" />
		<property name="pollingInterval" value="60000" />
		<property name="configFile" value="$[cache.config.json:cr-config.json]" />
		<property name="configHandler" ref="ConfigHandler" />
	</bean>

	<bean id="certificatesQueue" class="java.util.concurrent.ArrayBlockingQueue" >
		<constructor-arg value="1"/>
	</bean>

	<bean id="publishStatusQueue" class="java.util.concurrent.ArrayBlockingQueue">
		<constructor-arg value="1"/>
	</bean>

	<bean name="certificateChecker" class="org.apache.traffic_control.traffic_router.core.config.CertificateChecker"/>

	<bean name="certificatesPublisher" class="org.apache.traffic_control.traffic_router.core.secure.CertificatesPublisher">
		<constructor-arg name="certificatesQueue" ref="certificatesQueue"/>
		<constructor-arg name="publishStatusQueue" ref="publishStatusQueue"/>
		<constructor-arg name="certificateChecker" ref="certificateChecker"/>
		<constructor-arg name="trafficRouterManager" ref="trafficRouterManager"/>
	</bean>

	<bean id="ConfigHandler" class="org.apache.traffic_control.traffic_router.core.config.ConfigHandler">
		<property name="trafficRouterManager" ref="trafficRouterManager" />
		<property name="geolocationDatabaseUpdater" ref="geolocationDatabaseUpdater" />
		<property name="networkUpdater" ref="networkUpdater" />
		<property name="deepNetworkUpdater" ref="deepNetworkUpdater" />
		<property name="regionalGeoUpdater" ref="regionalGeoUpdater" />
		<property name="anonymousIpConfigUpdater" ref="anonymousIpConfigUpdater" />
		<property name="anonymousIpDatabaseUpdater" ref="anonymousIpDatabaseUpdater" />
		<property name="statTracker" ref="statTracker" />
		<property name="configDir" value="/opt/traffic_router/conf" />
		<property name="federationsWatcher" ref="federationsWatcher" />
		<property name="trafficOpsUtils" ref="trafficOpsUtils" />
		<property name="steeringWatcher" ref="steeringWatcher" />
		<property name="letsEncryptDnsChallengeWatcher" ref="letsEncryptDnsChallengeWatcher" />
		<property name="certificatesPublisher" ref="certificatesPublisher"/>
		<property name="certificatesPoller" ref="certificatesPoller"/>
		<property name="publishStatusQueue" ref="publishStatusQueue" />
	</bean>

	<bean id="trafficOpsUtils" class="org.apache.traffic_control.traffic_router.core.util.TrafficOpsUtils">
		<property name="username" value="$[traffic_ops.username]" />
		<property name="password" value="$[traffic_ops.password]" />
	</bean>

	<bean id="maxmindGeolocationService" class="org.apache.traffic_control.traffic_router.core.loc.MaxmindGeolocationService"/>
	<bean id="anonymousIpDatabaseService" class="org.apache.traffic_control.traffic_router.core.loc.AnonymousIpDatabaseService"/>
	
	<bean id="geolocationDatabaseUpdater" class="org.apache.traffic_control.traffic_router.core.loc.GeolocationDatabaseUpdater" init-method="init">
		<property name="databasesDirectory" ref="databasesDir"/>
		<property name="databaseName" value="$[cache.geolocation.database:GeoLite2-City.mmdb]" />
		<property name="pollingInterval" value="$[cache.geolocation.database.refresh.period:86400000]" />
		<property name="executorService" ref="ScheduledExecutorService" />
		<property name="trafficRouterManager" ref="trafficRouterManager" />
		<property name="maxmindGeolocationService" ref="maxmindGeolocationService" />
	</bean>

	<bean id="networkUpdater" class="org.apache.traffic_control.traffic_router.core.loc.NetworkUpdater" init-method="init">
		<property name="executorService" ref="ScheduledExecutorService" />
		<property name="databasesDirectory" ref="databasesDir" />
		<property name="databaseName" value="$[cache.czmap.database:czmap.json]" />
		<property name="pollingInterval" value="$[cache.czmap.database.refresh.period:10800000]" />
		<property name="trafficRouterManager" ref="trafficRouterManager" />
	</bean>

	<bean id="deepNetworkUpdater" class="org.apache.traffic_control.traffic_router.core.loc.DeepNetworkUpdater" init-method="init">
		<property name="executorService" ref="ScheduledExecutorService" />
		<property name="databasesDirectory" ref="databasesDir" />
		<property name="databaseName" value="$[cache.dczmap.database:dczmap.json]" />
		<property name="pollingInterval" value="$[cache.dczmap.database.refresh.period:10800000]" />
		<property name="trafficRouterManager" ref="trafficRouterManager" />
	</bean>

	<bean id="regionalGeoUpdater" class="org.apache.traffic_control.traffic_router.core.loc.RegionalGeoUpdater"
		init-method="init">
		<property name="executorService" ref="ScheduledExecutorService" />
		<property name="databasesDirectory" ref="databasesDir" />
		<property name="databaseName" value="$[cache.regionalgeo.database:regional_geoblock.json]" />
		<property name="pollingInterval" value="$[cache.regionalgeo.database.refresh.period:10800000]" />
		<property name="trafficRouterManager" ref="trafficRouterManager" />
	</bean>

	<bean id="anonymousIpConfigUpdater" class="org.apache.traffic_control.traffic_router.core.loc.AnonymousIpConfigUpdater"
		init-method="init">
		<property name="executorService" ref="ScheduledExecutorService" />
		<property name="databasesDirectory" ref="databasesDir" />
		<property name="databaseName" value="$[cache.anonymousip.database:anonymous_ip.json]" />
		<property name="pollingInterval" value="$[cache.anonymousip.database.refresh.period:10800000]" />
		<property name="trafficRouterManager" ref="trafficRouterManager" />
	</bean>

	<bean id="anonymousIpDatabaseUpdater" class="org.apache.traffic_control.traffic_router.core.loc.AnonymousIpDatabaseUpdater"
		init-method="init">
		<property name="executorService" ref="ScheduledExecutorService" />
		<property name="databasesDirectory" ref="databasesDir" />
		<property name="databaseName" value="$[cache.anonymousip.database:GeoIP2-Anonymous-IP.mmdb]" />
		<property name="pollingInterval" value="$[cache.anonymousip.database.refresh.period:10800000]" />
		<property name="trafficRouterManager" ref="trafficRouterManager" />
		<property name="anonymousIpDatabaseService" ref="anonymousIpDatabaseService" />
	</bean>

	<bean id="ScheduledExecutorService" class="java.util.concurrent.Executors"
		factory-method="newSingleThreadScheduledExecutor" />

	<bean id="MonitorWatcher" class="org.apache.traffic_control.traffic_router.core.monitor.TrafficMonitorWatcher">
		<property name="stateUrl" value="http://[host]/publish/CrStates" />
		<property name="configUrl" value="http://[host]/publish/CrConfig?json" />
		<property name="configHandler" ref="ConfigHandler" />
		<property name="monitorHosts" value="$[traffic_monitor.bootstrap.hosts]" />
		<property name="monitorProperties" value="$[traffic_monitor.properties]" />
		<property name="statusFile" value="$[cache.health.json:health.json]" />
		<property name="statusRefreshPeriod" value="$[cache.health.json.refresh.period:1000]" />
		<property name="configFile" value="$[cache.config.json:cr-config.json]" />
		<property name="configRefreshPeriod" value="$[cache.config.json.refresh.period:60000]" />
		<property name="trafficRouterManager" ref="trafficRouterManager" />
		<property name="databasesDirectory" ref="databasesDir" />
		<property name="propertiesDirectory" ref="propertiesDir" />
	</bean>

	<bean id="federationExporter" class="org.apache.traffic_control.traffic_router.core.util.FederationExporter">
		<property name="federationRegistry" ref="federationsRegistry"/>
	</bean>

	<bean id="dataExporter" class="org.apache.traffic_control.traffic_router.core.util.DataExporter">
		<property name="trafficRouterManager" ref="trafficRouterManager" />
		<property name="statTracker" ref="statTracker" />
		<property name="federationExporter" ref="federationExporter"/>
	</bean>

	<bean id="languidState" class="org.apache.traffic_control.traffic_router.core.util.LanguidState" init-method="init"
		  depends-on="geolocationDatabaseUpdater, networkUpdater, deepNetworkUpdater, regionalGeoUpdater, MonitorWatcher, trafficRouterManager, ConfigHandler">
		<!-- todo: add bean refs that can be validated inside the method called -->
		<property name="trafficRouterManager" ref="trafficRouterManager" />
	</bean>

	<!-- JMX Configuration -->
	<bean id="MBeanExporter" class="org.springframework.jmx.export.MBeanExporter">
		<property name="beans">
			<map>
				<entry key="traffic-router:name=GeolocationDatabase"
					value-ref="geolocationDatabaseUpdater" />
			</map>
		</property>
		<property name="assembler">
			<bean
				class="org.springframework.jmx.export.assembler.MethodNameBasedMBeanInfoAssembler">
				<property name="managedMethods">
					<value>updateDatabase</value>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="LanguidExporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false">
		<property name="beans">
			<map>
				<entry key="traffic-router:name=languidState"
					value-ref="languidState" />
			</map>
		</property>
	</bean>
	<bean id="DataExporter" class="org.springframework.jmx.export.MBeanExporter">
		<property name="beans">
			<map>
				<entry key="traffic-router:name=dataExporter"
					value-ref="dataExporter" />
			</map>
		</property>
	</bean>

	<bean id="NameServer" class="org.apache.traffic_control.traffic_router.core.dns.NameServer">
		<property name="trafficRouterManager" ref="trafficRouterManager" />
	</bean>

	<bean id="UDPBlockingQueue" class="java.util.concurrent.LinkedBlockingQueue" />
	<bean id="TCPBlockingQueue" class="java.util.concurrent.LinkedBlockingQueue" />

	<bean id="UDPCancelExecutorService" class="java.util.concurrent.Executors"
		factory-method="newFixedThreadPool">
		<constructor-arg index="0" value="$[dns.max-threads:1000]" />
	</bean>

	<bean id="TCPCancelExecutorService" class="java.util.concurrent.Executors"
		factory-method="newFixedThreadPool">
		<constructor-arg index="0" value="$[dns.max-threads:1000]" />
	</bean>

	<bean id="UDPRequestHandlerExecutorService" class="java.util.concurrent.ThreadPoolExecutor">
		<constructor-arg index="0" type="int" value="$[dns.max-threads:1000]" />
		<constructor-arg index="1" type="int" value="$[dns.max-threads:1000]" />
		<constructor-arg index="2" type="long" value="0" />
		<constructor-arg index="3" type="java.util.concurrent.TimeUnit" value="MILLISECONDS" />
		<constructor-arg index="4" ref="UDPBlockingQueue" />
	</bean>

	<bean id="TCPRequestHandlerExecutorService" class="java.util.concurrent.ThreadPoolExecutor">
		<constructor-arg index="0" type="int" value="$[dns.max-threads:1000]" />
		<constructor-arg index="1" type="int" value="$[dns.max-threads:1000]" />
		<constructor-arg index="2" type="long" value="0" />
		<constructor-arg index="3" type="java.util.concurrent.TimeUnit" value="MILLISECONDS" />
		<constructor-arg index="4" ref="TCPBlockingQueue" />
	</bean>

	<bean id="DnsStreamInetAddress" class="java.net.InetAddress" factory-method="getByName">
		<constructor-arg index="0" value="$[dns.tcp.host:0.0.0.0]" />
	</bean>

	<bean id="ServerSocket" class="java.net.ServerSocket">
		<constructor-arg index="0" value="$[dns.tcp.port:53]" />
		<constructor-arg index="1" value="$[dns.tcp.backlog:0]" />
		<constructor-arg index="2" ref="DnsStreamInetAddress" />
	</bean>

	<bean id="TCP" class="org.apache.traffic_control.traffic_router.core.dns.protocol.TCP">
		<property name="serverSocket" ref="ServerSocket" />
		<property name="executorService" ref="TCPRequestHandlerExecutorService" />
		<property name="cancelService" ref="TCPCancelExecutorService" />
		<property name="nameServer" ref="NameServer" />
		<property name="queueDepth" value="$[dns.queue-depth:1000]" />
		<property name="readTimeout" value="$[dns.tcp.timeout.read:3000]" />
		<property name="taskTimeout" value="$[dns.tcp.timeout.task:5000]" />
	</bean>

	<bean id="DatagramInetAddress" class="java.net.InetAddress" factory-method="getByName">
		<constructor-arg index="0" value="$[dns.udp.host:0.0.0.0]" />
	</bean>

	<bean id="DatagramSocket" class="java.net.DatagramSocket">
		<constructor-arg index="0" value="$[dns.udp.port:53]" />
		<constructor-arg index="1" ref="DatagramInetAddress" />
	</bean>

	<bean id="UDP" class="org.apache.traffic_control.traffic_router.core.dns.protocol.UDP">
		<property name="datagramSocket" ref="DatagramSocket" />
		<property name="executorService" ref="UDPRequestHandlerExecutorService" />
		<property name="cancelService" ref="UDPCancelExecutorService" />
		<property name="nameServer" ref="NameServer" />
		<property name="queueDepth" value="$[dns.queue-depth:1000]" />
		<property name="taskTimeout" value="$[dns.udp.timeout.task:5000]" />
	</bean>

	<bean id="ProtocolExecutorService" class="java.util.concurrent.Executors"
		factory-method="newFixedThreadPool">
		<constructor-arg index="0" value="2" />
	</bean>

	<bean id="NameServerMain" class="org.apache.traffic_control.traffic_router.core.dns.NameServerMain">
		<property name="protocolService" ref="ProtocolExecutorService" />
		<property name="protocols">
			<list>
				<ref bean="TCP" />
				<ref bean="UDP" />
			</list>
		</property>
	</bean>

	<bean name="bufferedResponseFilter" class="org.apache.traffic_control.traffic_router.core.http.BufferedResponseFilter">
	</bean>

	<util:list id="staticContentWhiteList" value-type="java.lang.String">
		<value>/crossdomain.xml</value>
		<value>/clientaccesspolicy.xml</value>
	</util:list>

	<bean name="routerFilter" class="org.apache.traffic_control.traffic_router.core.http.RouterFilter">
		<property name="doNotLog" value="$[http.access.static.content.donotlog]" />
		<property name="staticContentWhiteList" ref="staticContentWhiteList" />
	</bean>

	<bean name="certificatesClient" class="org.apache.traffic_control.traffic_router.core.secure.CertificatesClient">
		<property name="trafficOpsUtils" ref="trafficOpsUtils"/>
		<property name="trafficRouterManager" ref="trafficRouterManager"/>
	</bean>

	<bean name="certificatesPoller" class="org.apache.traffic_control.traffic_router.core.secure.CertificatesPoller" init-method="start">
		<property name="certificatesClient" ref="certificatesClient"/>
		<property name="certificatesQueue" ref="certificatesQueue"/>
		<property name="trafficRouterManager" ref="trafficRouterManager"/>
  	</bean>

</beans>
