<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li class="active">Tenants <small>[{{tenants.length}}]</small></li>
        </ol>
        <div class="pull-right">
            <button name="createTenantButton" class="btn btn-primary" title="Create New Tenant" ng-click="createTenant()"><i class="fa fa-plus"></i></button>
            <div class="btn-group" role="group" uib-dropdown is-open="more.isopen">
                <button name="moreBtn" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                    More&nbsp;
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu-right dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem"><a name="createServerMenuItem" ng-click="exportCSV()">Export Tenant CSV</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <div id="tenant-tree-root" ui-tree data-drag-enabled="false">
            <ol ui-tree-nodes ng-model="tenantTree">
                <li ng-repeat="node in tenantTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <div class="tree-node-label pull-left">
            <a class="tree-toggle btn btn-primary btn-xs" ng-if="hasChildren(node)" ng-click="toggle(this)">
                <i class="fa" ng-class="collapsed ? 'fa-caret-right' : 'fa-caret-down'"></i>
            </a> <a ng-href="#!/tenants/{{node.id}}">{{::node.name}}</a>
        </div>
        <div class="pull-right">
            <a title="Add child tenant" class="btn btn-primary btn-xs" data-nodrag ng-click="createTenant(node.id)" style="margin-right: 8px;">
                <i class="fa fa-plus"></i>
            </a>
            <a title="Delete tenant" class="btn btn-danger btn-xs" data-nodrag ng-click="confirmDelete(node)" style="margin-right: 8px;">
                <i class="fa fa-times"></i>
            </a>
            <a title="Edit tenant" class="btn btn-default btn-xs" data-nodrag ng-href="#!/tenants/{{node.id}}">
                <i class="fa fa-edit"></i>
            </a>
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.children" ng-class="{ hidden: collapsed }">
        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>







