<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li class="active">Divisions</li>
        </ol>
        <button class="btn btn-primary pull-right" ng-click="createDivision()">New</button>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <table id="divisionsTable" class="table responsive-utilities jambo_table">
            <thead>
            <tr class="headings">
                <th>name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="editDivision(division.id)" ng-repeat="division in divisions">
                <td>{{division.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

