
{
  "insecure": '{{ tpv2_insecure }}',
  "port": '{{ tpv2_port }}',
  "trafficOps": '{{ tpv2_to_base_url }}',
  "useSSL": '{{ tpv2_use_ssl }}',
  "certPath": '{{ tpv2_ssl_cert_file }}',
  "keyPath": '{{ tpv2_ssl_key_file }}',
  "browserFolder": '{{ tpv2_browser_folder }}'
}

