{
  "insecure": {{ tpv2_insecure | lower }},
  "port": {{ tpv2_sslPort }},
  "trafficOps": "{{ tpv2_to_base_url }}",
  "certificateAuthPaths": "{{ tpv2_ssl_ca_files }}"
  "useSSL": {{ tpv2_useSSL | lower }},
  "certPath": "{{ tpv2_ssl_cert_file }}",
  "keyPath": "{{ tpv2_ssl_key_file }}",
  "browserFolder": "{{ tpv2_browser_folder }}"
}

