<h2 mat-dialog-title>Change Password</h2>
<form method="dialog" ngNativeValidate (submit)="submit($event)">
	<div mat-dialog-content class="content">
		<mat-form-field>
			<mat-label>Password</mat-label>
			<input type="password" matInput [(ngModel)]="password" name="password" required/>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Confirm Password</mat-label>
			<input type="password" matInput [(ngModel)]="confirm" name="confirm" customvalidity [valid]="confirmValid" required/>
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button mat-stroked-button>Submit</button>
		<button type="button" mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
	</div>
</form>
