<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb">
            <li><a ng-click="navigateToPath('/configure/delivery-services')">Delivery Services</a></li>
            <li class="active">{{deliveryServiceName}}</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form name="deliveryServiceForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(deliveryServiceForm[prop.name]), 'has-feedback': hasError(deliveryServiceForm[prop.name])}" ng-repeat="prop in props">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">{{labelize(prop.name)}} <span ng-show="prop.required">*</span></label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input id="{{prop.name}}" name="{{prop.name}}" type="{{prop.type}}" class="form-control" ng-model="deliveryService[prop.name]" ng-readonly="prop.readonly" ng-required="prop.required" ng-maxlength="prop.maxLength" ng-pattern="prop.pattern" autofocus>
                    <small class="input-error" ng-show="hasPropertyError(deliveryServiceForm[prop.name], 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(deliveryServiceForm[prop.name], 'maxlength')">Too Long</small>
                    <small class="input-error" ng-show="hasPropertyError(deliveryServiceForm[prop.name], 'pattern')">{{prop.invalidMsg}}</small>
                    <span ng-show="hasError(deliveryServiceForm[prop.name])" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(deliveryServiceForm.active), 'has-feedback': hasError(deliveryServiceForm.active)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Active *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="active" name="active" class="form-control" ng-model="deliveryService.active" ng-options="active.id as active.name for active in [ { id: 0, name: 'false' }, { id: 1, name: 'true' } ]" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(deliveryServiceForm.active, 'required')">Required</small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(deliveryServiceForm.signed), 'has-feedback': hasError(deliveryServiceForm.signed)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Signed *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="signed" name="signed" class="form-control" ng-model="deliveryService.signed" ng-options="signed.id as signed.name for signed in [ { id: 0, name: 'false' }, { id: 1, name: 'true' } ]" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(deliveryServiceForm.signed, 'required')">Required</small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(deliveryServiceForm.geoLimit), 'has-feedback': hasError(deliveryServiceForm.geoLimit)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Geo Limit *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="geoLimit" name="geoLimit" class="form-control" ng-model="deliveryService.geoLimit" ng-options="geoLimit.id as geoLimit.name for geoLimit in [ { id: 0, name: 'false' }, { id: 1, name: 'true' } ]" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(deliveryServiceForm.geoLimit, 'required')">Required</small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(deliveryServiceForm.ipv6RoutingEnabled), 'has-feedback': hasError(deliveryServiceForm.ipv6RoutingEnabled)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">IPv6 Routing Enabled *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="ipv6RoutingEnabled" name="ipv6RoutingEnabled" class="form-control" ng-model="deliveryService.ipv6RoutingEnabled" ng-options="ipv6RoutingEnabled.id as ipv6RoutingEnabled.name for ipv6RoutingEnabled in [ { id: 0, name: 'false' }, { id: 1, name: 'true' } ]" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(deliveryServiceForm.ipv6RoutingEnabled, 'required')">Required</small>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Multi-Site Origin</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="multiSiteOrigin" name="multiSiteOrigin" class="form-control" ng-model="deliveryService.multiSiteOrigin" ng-options="multiSiteOrigin.id as multiSiteOrigin.name for multiSiteOrigin in [ { id: 0, name: 'false' }, { id: 1, name: 'true' } ]">
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(deliveryServiceForm.type), 'has-feedback': hasError(deliveryServiceForm.type)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Type *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="type" name="type" class="form-control" ng-model="deliveryService._links.type.id" ng-options="type.id as type.name for type in types" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(deliveryServiceForm.type, 'required')">Required</small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(deliveryServiceForm.cdn), 'has-feedback': hasError(deliveryServiceForm.cdn)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">CDN *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="cdn" name="cdn" class="form-control" ng-model="deliveryService._links.cdn.id" ng-options="cdn.id as cdn.name for cdn in cdns" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(deliveryServiceForm.cdn, 'required')">Required</small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(deliveryServiceForm.profile), 'has-feedback': hasError(deliveryServiceForm.profile)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Profile *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="profile" name="profile" class="form-control" ng-model="deliveryService._links.profile.id" ng-options="profile.id as profile.name for profile in profiles" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(deliveryServiceForm.profile, 'required')">Required</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-show="settings.showDelete" ng-click="confirmDelete(deliveryService)">Delete</button>
                <button type="button" class="btn btn-primary" ng-disabled="deliveryServiceForm.$pristine || deliveryServiceForm.$invalid" ng-click="save(deliveryService)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>