<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/topologies')">Topologies</a></li>
            <li class="active">{{::topologyName}}</li>
        </ol>
        <div class="pull-right" role="group" ng-show="!settings.isNew">
            <div class="btn-group" role="group" uib-dropdown is-open="more.isopen">
                <button name="moreBtn" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                    More&nbsp;
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu-right dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem">
                        <button type="button" name="cloneToplogyMenuItem" title="Clone Topology" ng-click="clone(topology)">Clone Topology</button>
                    </li>
                    <hr class="divider"/>
                    <li role="menuitem">
                        <button type="button" name="viewDeliveryServicesMenuItem" title="View Delivery Services" ng-click="viewDeliveryServices()">View Delivery Services</button>
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem">
                        <button type="button" name="viewCacheGroupsMenuItem" title="View Cache Groups" ng-click="viewCacheGroups()">View Cache Groups</button>
                    </li>
                    <li role="menuitem">
                        <button type="button" name="viewServersMenuItem" title="View Servers" ng-click="viewServers()">View Servers</button>
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem">
                        <button type="button" title="Queue Server Updates for {{::topology.name}} Topology" ng-click="confirmTopologyQueueServerUpdates(topology)">Queue Server Updates</button>
                    </li>
                    <li role="menuitem">
                        <button type="button" title="Clear Server Updates for {{::topology.name}} Topology" ng-click="confirmTopologyClearServerUpdates(topology)">Clear Server Updates</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form name="topologyForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(topologyForm.name), 'has-feedback': hasError(topologyForm.name)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Name *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="name" type="text" class="form-control" ng-model="topology.name" pattern="^[a-zA-Z0-9\-_]+$" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(topologyForm.name, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(topologyForm.name, 'pattern')">Alphanumeric, dash, or underscore characters only</small>
                    <span ng-show="hasError(topologyForm.name)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(topologyForm.description), 'has-feedback': hasError(topologyForm.description)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Description *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <textarea id="description" name="description" rows="3" cols="17" class="form-control" ng-model="topology.description" maxlength="256" required></textarea>
                    <small class="input-error" ng-show="hasPropertyError(topologyForm.description, 'required')">Required</small>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Cache Groups *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <div id="tree-root" ui-tree="topologyTreeOptions" >
                        <ol ui-tree-nodes ng-model="topologyTree">
                            <li ng-repeat="node in topologyTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-show="!settings.isNew" ng-click="confirmDelete(topology)">Delete</button>
                <button ng-if="settings.isNew" type="button" class="btn btn-success" ng-disabled="topologyForm.$pristine || topologyForm.$invalid" ng-click="save(topology.name, topology.description, topologyTree)">{{settings.saveLabel}}</button>
                <button ng-if="!settings.isNew" type="button" class="btn btn-success" ng-disabled="topologyForm.$pristine || topologyForm.$invalid" ng-click="save(topologyName, topology.name, topology.description, topologyTree)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
    <!-- this hidden form field will mark the form as dirty (and enable the save btn) when the topology tree is modified in any way -->
    <input name="dirty" ng-model="dirty" type="hidden">
    <div id="{{node.cachegroup}}" ui-tree-handle class="tree-node tree-node-content"
         ng-class="{ 'warning': nodeWarning(node), 'origin': isOrigin(node), 'mid': isMid(node) }">
        <div class="tree-node-label pull-left">
            <a class="tree-toggle btn btn-primary btn-xs" ng-if="node.type !== 'ROOT' && hasChildren(node)" data-nodrag ng-click="toggle(this)">
                <i class="fa" ng-class="collapsed ? 'fa-caret-right' : 'fa-caret-down'"></i>
            </a> {{::nodeLabel(node)}} <small>{{::node.type}}</small>
        </div>
        <div ng-if="nodeWarning(node)" class="error-msg">{{nodeWarning(node)}}</div>
        <div class="pull-right">
            <a ng-show="node.cachegroup && node.parent.name" title="Set Secondary Parent Cache Group for {{::node.cachegroup}}" class="btn btn-primary btn-xs" data-nodrag ng-click="editSecParent(node)" style="margin-right: 8px;">
                2nd Parent: {{(node.secParent.name) ? node.secParent.name : ''}} [{{node.secParent.type}}]
            </a>
            <a ng-if="node.cachegroup" title="View Servers Assigned to {{::node.cachegroup}}" class="btn btn-primary btn-xs" data-nodrag ng-click="viewCacheGroupServers(node)" style="margin-right: 8px;">
                <i class="fa fa-server"></i>
            </a>
            <a title="Add child cache groups to {{nodeLabel(node)}}" class="btn btn-primary btn-xs add-child-cg-btn" data-nodrag ng-click="addCacheGroups(node, this)" style="margin-right: 8px;">
                <i class="fa fa-plus"></i>
            </a>
            <a ng-if="node.cachegroup" title="Remove {{::node.cachegroup}} Cache Group" class="btn btn-danger btn-xs" data-nodrag ng-click="deleteCacheGroup(node, this)">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children" ui-tree-node data-expand-on-hover="true" ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>
