<div *ngIf="author" class="content">
	<mat-form-field>
		<mat-label>Common Name</mat-label>
		<input matInput type="text" name="commonName" readonly [value]="author.commonName"/>
	</mat-form-field>
	<div class="triple">
		<mat-form-field>
			<mat-label>Country Name</mat-label>
			<input matInput type="text" name="country" readonly [value]="author.countryName ?? ''"/>
		</mat-form-field>
		<mat-form-field>
			<mat-label>State or Province</mat-label>
			<input matInput type="text" name="state" readonly [value]="author.stateOrProvince ?? ''"/>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Locality</mat-label>
			<input matInput type="text" name="local" readonly [value]="author.localityName ?? ''"/>
		</mat-form-field>
	</div>
	<mat-form-field>
		<mat-label>Organization</mat-label>
		<input matInput type="text" name="org" readonly [value]="author.orgName ?? ''"/>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Organization Unit</mat-label>
		<input matInput type="text" name="org" readonly [value]="author.orgUnit ?? ''"/>
	</mat-form-field>
</div>
