<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li class="active">Users</li>
        </ol>
        <button class="btn btn-primary pull-right" ng-click="createUser()">New</button>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <table id="usersTable" class="table responsive-utilities jambo_table">
            <thead>
            <tr class="headings">
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="editUser(user.id)" ng-repeat="user in users">
                <td>{{user.fullName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user._links.role.id}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>





