/target/
/api/target
/configuration/target
/connector/target
/core/target
/geolocation/target
/rpm/target
/shared/target
/core/src/test/resources/var/auto-zones
/core/src/test/db/cr-config.json
/core/src/test/db/health.json
/core/src/test/db
/core/src/test/conf/traffic_monitor.properties
/core/src/test/conf/traffic_ops.properties
/core/src/test/var
.classpath
.settings
