---
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
install_traffic_portal: False
tp_pkg_name: "{% if tp_version is defined and tp_version != omit %}{{ 'traffic_portal-'+tp_version }}{% else %}traffic_portal{% endif %}"

# TP installation information
tp_base_install_dir: /opt/traffic_portal
tp_properties_dir: "{{ tp_base_install_dir }}/public"
tp_conf_dir: /etc/traffic_portal/conf

# config.js
tp_timeout: "120s"
tp_useSSL: False
tp_http_port: 8080
tp_sslPort: 8443
tp_ssl_key_file: "/etc/pki/tls/localhost.key"
tp_ssl_cert_file: "/etc/pki/tls/localhost.crt"
tp_ssl_ca_files:
  - /etc/pki/tls/ca-localhost.crt
tp_files_static_location: "{{ tp_properties_dir }}"
tp_log_stream_location: "/var/log/traffic_portal/access.log"
tp_reject_unauthorized: 0
tp_ts_base_url: "https://localhost"
tp_to_base_url: "https://localhost"

# Traffic_portal_properties.json
# This makes me feel bad, but the structure itself isn't strongly defined
# Addition is supported, but not removal
tp_default_properties_template:
  _comment: These are the default properties for Traffic Portal. Customize these values
    to fit your needs.
  properties:
    _comments:
      name: Customize the name of Traffic Portal if desired.
      enforceCapabilities: Not currently supported. Must be false.
    name: Traffic Portal
    environment:
      _comments: Optionally set the environment name (production, staging, development, etc) and an indicator if the environment is production or not.
      name: Kabletown2.0
      isProd: false
    api:
      _comment: This should have the same value found in /etc/traffic_portal/conf/config.js
      baseUrl: "{{ tp_to_base_url }}/api/"
    # enforceCapabilities is not currently supported and must be false
    enforceCapabilities: false
    dashboard:
      _comments: These are configurable properties for the dashboard
      autoRefresh: true
      currentStats:
        refreshRateInMS: 30000
      deliveryServiceGbps:
        refreshRateInMS: 60000
      healthyCacheCount:
        refreshRateInMS: 60000
      cacheStatusCount:
        refreshRateInMS: 60000
      cdnChart:
        refreshRateInMS: 60000
      capacity:
        refreshRateInMS: 60000
      routing:
        refreshRateInMS: 60000
      cacheGroupHealth:
        refreshRateInMS: 60000
    snapshot:
      _comments: These are configurable properties for a cdn snapshot
      diff:
        _comments: "The snapshot diff may contains nested json objects. You can specify if you want these objects expanded, and if so, how many levels. 0 = not expanded, n = expanded to n levels. Set this to a high number (i.e. 100) to ensure full expansion."
        expandLevel: 0
    cacheChecks:
      _comments: These are configurable properties for the cache checks view. The data
        for the cache checks view is derived from TO extensions. The extensions array
        should include an entry for each of your extensions or you can check GET api/{{ to_api_version }}/servers/checks
        to see which checks you have configured.
      show: true
      updatePending:
        show: true
        key: UPD
        desc: Configuration file updates have been applied or are pending for the EDGE
          or MID
      revalPending:
        show: true
        key: RVL
        desc: Content invalidation request(s) are pending for the EDGE or MID
      extensions:
      - key: ILO
        desc: Ping the iLO interface for EDGE or MID servers
        type: bool
      - key: 10G
        desc: Ping the IPv4 address of the EDGE or MID servers
        type: bool
      - key: FQDN
        desc: DNS check that matches what the DNS servers responds with compared to
          what Traffic Ops has
        type: bool
      - key: DSCP
        desc: Checks the DSCP value of packets from the edge server to the Traffic Ops
          server
        type: bool
      - key: 10G6
        desc: Ping the IPv6 address of the EDGE or MID servers
        type: bool
      - key: MTU
        desc: Ping the EDGE or MID using the configured MTU from Traffic Ops
        type: bool
      - key: CHR
        desc: Cache Hit Ratio %
        type: number
      - key: CDU
        desc: Cache Disk Utilization %
        type: number
      - key: ORT
        desc: Number of configuration differences as determined by ORT found between
          Traffic Ops and the cache
        type: number
    deliveryServices:
      _comment: Delivery service settings
      defaults:
        _comments: These are default values used when creating resources
        ANY_MAP:
          dscp: 0
          regionalGeoBlocking: false
          logsEnabled: false
          geoProvider: 0
          geoLimit: 0
          ccrDnsTtl: 30
          serviceCategory: other
          anonymousBlockingEnabled: false
        DNS:
          routingName: cdn
          dscp: 0
          ipv6RoutingEnabled: true
          rangeRequestHandling: 0
          qstringIgnore: 0
          maxOriginConnections: 0
          maxRequestHeaderBytes: 0
          multiSiteOrigin: false
          logsEnabled: false
          geoProvider: 0
          geoLimit: 0
          missLat: 41.881944
          missLong: -87.627778
          serviceCategory: other
          signingAlgorithm:
          ccrDnsTtl: 30
          regionalGeoBlocking: false
          maxDnsAnswers: 6
          anonymousBlockingEnabled: false
          ecsEnabled: false
        HTTP:
          routingName: cdn
          deepCachingType: NEVER
          dscp: 0
          ipv6RoutingEnabled: true
          rangeRequestHandling: 0
          qstringIgnore: 0
          maxOriginConnections: 0
          maxRequestHeaderBytes: 0
          multiSiteOrigin: false
          logsEnabled: false
          initialDispersion: 2
          regionalGeoBlocking: false
          maxDnsAnswers: 6
          geoProvider: 0
          geoLimit: 0
          missLat: 41.881944
          missLong: -87.627778
          serviceCategory: other
          signingAlgorithm:
          ccrDnsTtl: 3600
          anonymousBlockingEnabled: false
          consistentHashQueryParams: []
          ecsEnabled: false
        STEERING:
          dscp: 0
          routingName: cdn
          ipv6RoutingEnabled: true
          logsEnabled: false
          geoProvider: 0
          geoLimit: 0
          regionalGeoBlocking: false
          maxDnsAnswers: 6
          ccrDnsTtl: 30
          serviceCategory: other
          anonymousBlockingEnabled: false
          ecsEnabled: false
      charts:
        _comment: Delivery Service Charts
        autoRefresh: true
        refreshRateInMS: 30000
        customLink:
          _comment: Do you want to show a custom link to your own ds dashboards?
          show: false
          baseUrl: "{{ tp_ts_base_url }}/dashboard/script/traffic_ops_deliveryservice.js?which="
    dsRequests:
      _comments: Should all delivery service changes go through the delivery service
        review process? You can also provide a role that will skip the process.
      enabled: false
      overrideRole: admin
    servers:
      _comment: Server settings
      charts:
        _comment: Do you want to show a charts button for each server? If so, where
          can the charts be found? xml id will be appended to the provided url.
        show: false
        baseUrl: "{{ tp_ts_base_url }}/dashboard/script/traffic_ops_server.js?which="
    changeLogs:
      _comment: Change log settings
      days: 7
    customMenu:
      _comments: These are custom items you want to add to the menu. 'items' is an array
        of hashes where each hash has 'name' (the menu item name), 'embed' (true|false
        to determine if content is embedded in TP or not), and 'url' (the url of the
        content)
      name: Other
      items:
      - name: Docs
        embed: false
        url: http://trafficcontrol.apache.org/
    oAuth:
      _comment: "Opt-in OAuth properties for SSO login. See http://traffic-control-cdn.readthedocs.io/en/release-4.0.0/admin/quick_howto/oauth_login.html for more details. redirectUriParameterOverride defaults to redirect_uri if left blank."
      enabled: false
      oAuthUrl: "https://oauthProvider.example.com/auth"
      oAuthTokenQueryParam: "example_token_key"
      redirectUriParameterOverride: "example_redirect_url_key"
      clientId: "exampleClient"
      oAuthCodeTokenUrl: "https://oauthProvider.example.com/auth/token"
