<!DOCTYPE html>
<html lang="en-US">
  <!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
  <script src="js/angular.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/main.js"></script>

  <link rel="stylesheet" href="css/bootstrap.css">

  <body ng-app="app" ng-controller="InitCtrl">
	<!-- HEADER -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<ul class="nav navbar-nav">
		  <!--DROPDOWN TABLES -->
		  <li>
			<form class="navbar-form pull-left">
			  <select class="btn btn-default dropdown-toggle" ng-change="get(table); showAddRow = true; tableSelected= true"  ng-model="table">
				<option value={{table}}  ng-repeat="table in tables">{{table}}</option>
			  </select>
			  <!-- ADVANCED OPTIONS-->
			</form>
		  </li>
		  <!-- ADVANCED QUERIES -->
		  <li ng-show="tableSelected">

			<div class="input-append">
			  <span data-toggle="tooltip" title="Separate specs with '&'.">Advanced:</span>
			  <input type="text" ng-model="parameters"></input>
			  <button ng-click="update(table, parameters)" class="btn btn-default">Update</button>
			</div>
		  </li>
		</ul>
		<!-- ADD VIEW -->
		<ul class="nav navbar-nav navbar-right">
		  <li>
			<button class="btn btn-default" ng-show="!showAddView" ng-click="showAddView = ! showAddView">Add View</button>
		  </li>
		  <li>
			<!--ADD VIEW FORM -->
			<form ng-show="showAddView">
			  Name:
			  <input type="text" ng-model="newView.Name" value="Name">Query:
			  <input type="text" ng-model="newView.Query" value="Query">

			<button class="btn btn-default" ng-show="showAddView" ng-click="showAddView = ! showAddView">Cancel</button>
			  <button class="btn btn-default" ng-click="postView(newView)">Submit</button>
			</form>
		  </li>
		</ul>
	  </div>
	</nav>
	<div>
	  <form>
		<!-- SHOW ADD ROW BUTTONS -->
		<button ng-show="showAddRow" ng-click="showAddRowCols = ! showAddRowCols; showAddRow = ! showAddRow">Add Row</button>
		<button ng-show="showAddRowCols" ng-click="showAddRowCols = ! showAddRowCols; showAddRow = ! showAddRow">Cancel</i></button>

		<!-- ADD ROW PART -->
		<table class="table-striped table-hover table-bordered table-condensed" ng-show="showAddRowCols" ng-init="newRow={}">
		  <tr><td class="span2"  ng-repeat="column in columns | filter: '!id' | filter: '!last_updated'">{{column}}</td></tr>
		  <tr><td ng-repeat="column in columns | filter: '!id' | filter: '!last_updated'"><input type="text" ng-model=newRow[column]></td>

			<td>
			  <button ng-click="post(table, newRow); showAddRowCols = ! showAddRowCols; showAddRow = ! showAddRow">Submit</button>
			</td>
		  </tr>
		</table>
		<br/>

		<!-- DELETE VIEW -->
		<button ng-show="tableSelected && !isTable" ng-click="deleteView(table)">Delete View</button>

		<!-- MAIN TABLE DISPLAY -->
		<table style="max-width:100%" class="table table-striped table-hover table-bordered table-condensed">
		  <!-- HEADERS -->

		  <thead>
			<tr>
			  <td style="max-width:150px" ng-repeat="column in columns" class="col-md-1">{{column}}</td>
			</tr>
		  </thead>

		  <!-- ROWS -->
		  <tbody>
			<tr ng-repeat="row in rows">
			  <!-- ROWS/ FORMS -->		  
			  <td ng-repeat="(key, value) in row">	
				<div ng-show="!showEdit || key == 'id' || key == 'last_updated'">{{value}}</div>
				<div ng-show="showEdit && key != 'id' && key != 'last_updated'"><input type="text" style="width:90px" ng-model=row[key]></div>
			  </td>

			  <!--EDIT/SAVE-->
			  <td class="col-md-1"  ng-show="!showEdit" ng-click="showEdit = ! showEdit"><button>Edit</button></td>
			  <td class="col-md-1" ng-show="showEdit" ng-click="showEdit = !showEdit; put(table, row)"><button>Save</button></td>

			  <!-- DELETE -->
			  <td class="col-md-1"><button ng-click="delete(table, row)">Delete</button></td>
			</tr>
		  </tbody>
		</table>
	  </form>
	</div>
  </body>
</html>
