.dialog-90 .modal-dialog {
  width: 90%;
}

.dialog-80 .modal-dialog {
  width: 80%;
}

.dialog-70 .modal-dialog {
  width: 70%;
}

.dialog-60 .modal-dialog {
  width: 60%;
}

.dialog-50 .modal-dialog {
  width: 50%;
}

.dialog-40 .modal-dialog {
  width: 40%;
}

.dialog-30 .modal-dialog {
  width: 30%;
}

.dialog-20 .modal-dialog {
  width: 20%;
}
