<div class="page-title">
    <div class="title_left">
        <h3>Regions</h3>
    </div>
</div>
<table id="regionsTable" class="table responsive-utilities jambo_table">
    <thead>
        <tr class="headings">
            <th>name</th>
            <th>division</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click="editRegion(region.id)" ng-repeat="region in regions">
            <td>{{region.name}}</td>
            <td>{{region._links.division.id}}</td>
        </tr>
    </tbody>
</table>
