<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li class="active">Regions</li>
        </ol>
        <button class="btn btn-primary pull-right" ng-click="createRegion()">New</button>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <table id="regionsTable" class="table responsive-utilities jambo_table">
            <thead>
            <tr class="headings">
                <th>name</th>
                <th>division</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="editRegion(region.id)" ng-repeat="region in regions">
                <td>{{region.name}}</td>
                <td>{{region._links.division.id}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



