<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb">
            <li><a ng-click="navigateToPath('/configure/cache-groups')">Cache Groups</a></li>
            <li class="active">{{cacheGroupOriginal.name}}</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form name="cacheGroupForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm[prop.name]), 'has-feedback': hasError(cacheGroupForm[prop.name])}" ng-repeat="prop in props">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">{{prop.name}} <span ng-show="prop.required">*</span></label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input id="{{prop.name}}" name="{{prop.name}}" type="text" class="form-control" ng-model="cacheGroup[prop.name]" ng-readonly="prop.readonly" ng-required="prop.required" ng-maxlength="prop.maxLength" autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm[prop.name], 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm[prop.name], 'maxlength')">Too Long</small>
                    <span ng-show="hasError(cacheGroupForm[prop.name])" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="confirmDelete(cacheGroup)">Delete</button>
                <button type="button" class="btn btn-primary" ng-disabled="cacheGroupForm.$pristine || cacheGroupForm.$invalid" ng-click="update(cacheGroup)">Update</button>
            </div>
        </form>
    </div>
</div>
