<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/configure/cache-groups')">Cache Groups</a></li>
            <li class="active">{{cacheGroupName}}</li>
        </ol>
        <button class="btn btn-warning pull-right" ng-show="!settings.isNew" ng-click="queueUpdates()">Queue Server Updates</button>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form name="cacheGroupForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.name), 'has-feedback': hasError(cacheGroupForm.name)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Name *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input id="name" name="name" type="text" class="form-control" ng-model="cacheGroup.name" ng-required="true" ng-maxlength="45" ng-pattern="/^\S*$/" autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.name, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.name, 'maxlength')">Too Long</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.name, 'pattern')">No spaces</small>
                    <span ng-show="hasError(cacheGroupForm.name)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.shortName), 'has-feedback': hasError(cacheGroupForm.shortName)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Short Name *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input id="shortName" name="shortName" type="text" class="form-control" ng-model="cacheGroup.shortName" ng-required="true" ng-maxlength="255" ng-pattern="/^\S*$/" autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.shortName, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.shortName, 'maxlength')">Too Long</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.shortName, 'pattern')">No spaces</small>
                    <span ng-show="hasError(cacheGroupForm.shortName)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.latitude), 'has-feedback': hasError(cacheGroupForm.latitude)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Latitude *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input id="latitude" name="latitude" type="text" class="form-control" ng-model="cacheGroup.latitude" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.latitude, 'pattern')">Invalid coordinate</small>
                    <span ng-show="hasError(cacheGroupForm.latitude)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.longitude), 'has-feedback': hasError(cacheGroupForm.longitude)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Longitude *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input id="longitude" name="longitude" type="text" class="form-control" ng-model="cacheGroup.longitude" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.longitude, 'pattern')">Invalid coordinate</small>
                    <span ng-show="hasError(cacheGroupForm.longitude)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.type), 'has-feedback': hasError(cacheGroupForm.type)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Type *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="type" name="type" class="form-control" ng-model="cacheGroup.typeId" ng-options="type.id as type.name for type in types" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.type, 'required')">Required</small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.parentCacheGroup), 'has-feedback': hasError(cacheGroupForm.parentCacheGroup)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Parent Cache Group *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="parentCacheGroup" name="parentCacheGroup" class="form-control" ng-model="cacheGroup.parentCachegroupId" ng-options="cacheGroup.id as cacheGroup.name for cacheGroup in cacheGroups" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.parentCacheGroup, 'required')">Required</small>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Secondary Parent Cache Group</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select id="secondaryParentCacheGroup" name="secondaryParentCacheGroup" class="form-control" ng-model="cacheGroup.secondaryParentCachegroupId" ng-options="cacheGroup.id as cacheGroup.name for cacheGroup in cacheGroups">
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-show="!settings.isNew" ng-click="confirmDelete(cacheGroup)">Delete</button>
                <button type="button" class="btn btn-primary" ng-disabled="cacheGroupForm.$pristine || cacheGroupForm.$invalid" ng-click="save(cacheGroup)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>
