#divMinMaxAverageChart{
    position: relative;
    display: block;
    width: 500px;
    height: 500px;
}
#divPercentileChart{
    position: relative;
    display: block;
    width: 500px;
    height: 500px;
}