<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/cache-groups')">Cache Groups</a></li>
            <li class="active">{{cacheGroupName}}</li>
        </ol>
        <div class="pull-right" ng-show="!settings.isNew">
            <div class="btn-group" role="group" uib-dropdown is-open="queue.isopen">
                <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                    Queue Updates&nbsp;
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu-right dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem"><a ng-click="confirmQueueServerUpdates(cacheGroup)"><i class="fa fa-flag"></i>&nbsp;&nbsp;Queue {{cacheGroupName}} Server Updates</a></li>
                    <li role="menuitem"><a ng-click="confirmClearServerUpdates(cacheGroup)"><i class="fa fa-ban"></i>&nbsp;&nbsp;Clear {{cacheGroupName}} Server Updates</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group" uib-dropdown is-open="more.isopen">
                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                    More&nbsp;
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu-right dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem"><a ng-click="viewAsns()">View ASNs</a></li>
                    <li role="menuitem"><a ng-click="viewServers()">View Servers</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form name="cacheGroupForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.name), 'has-feedback': hasError(cacheGroupForm.name)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Name *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="name" type="text" class="form-control" ng-model="cacheGroup.name" ng-pattern="/^\S*$/" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.name, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.name, 'pattern')">No spaces</small>
                    <span ng-show="hasError(cacheGroupForm.name)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.shortName), 'has-feedback': hasError(cacheGroupForm.shortName)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Short Name *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="shortName" type="text" class="form-control" ng-model="cacheGroup.shortName" ng-pattern="/^\S*$/" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.shortName, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.shortName, 'pattern')">No spaces</small>
                    <span ng-show="hasError(cacheGroupForm.shortName)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.type), 'has-feedback': hasError(cacheGroupForm.type)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Type *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select name="type" class="form-control" ng-model="cacheGroup.typeId" ng-options="type.id as type.name for type in types" ng-change="updateForNewType()" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.type, 'required')">Required</small>
                    <small ng-show="cacheGroup.typeId"><a href="/#!/types/{{cacheGroup.typeId}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a></small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.latitude), 'has-feedback': hasError(cacheGroupForm.latitude)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Geo Magnetic Latitude *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="latitude" type="number" class="form-control" ng-model="cacheGroup.latitude" ng-min="-90.0" ng-max="90.0" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.latitude, 'required')">Required latitude</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.latitude, 'min')">Invalid latitude. Must be between -90.0 and 90.0</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.latitude, 'max')">Invalid latitude. Must be between -90.0 and 90.0</small>
                    <span ng-show="hasError(cacheGroupForm.latitude)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.longitude), 'has-feedback': hasError(cacheGroupForm.longitude)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Geo Magnetic Longitude *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="longitude" type="number" class="form-control" ng-model="cacheGroup.longitude" ng-min="-180.0" ng-max="180.0" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.longitude, 'required')">Required longitude</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.longitude, 'min')">Invalid longitude. Must be between -180.0 and 180.0</small>
                    <small class="input-error" ng-show="hasPropertyError(cacheGroupForm.longitude, 'max')">Invalid longitude. Must be between -180.0 and 180.0</small>
                    <span ng-show="hasError(cacheGroupForm.longitude)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.parentCacheGroup), 'has-feedback': hasError(cacheGroupForm.parentCacheGroup)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Parent Cache Group</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select name="parentCacheGroup" class="form-control" ng-model="cacheGroup.parentCachegroupId" ng-options="cacheGroup.id as cacheGroup.name for cacheGroup in cacheGroups">
                        <option value="">Select...</option>
                    </select>
                    <small ng-show="cacheGroup.parentCachegroupId"><a href="/#!/cache-groups/{{cacheGroup.parentCachegroupId}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a></small>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Secondary Parent Cache Group</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select name="secondaryParentCacheGroup" class="form-control" ng-model="cacheGroup.secondaryParentCachegroupId" ng-options="cacheGroup.id as cacheGroup.name for cacheGroup in cacheGroups">
                        <option value="">Select...</option>
                    </select>
                    <small ng-show="cacheGroup.secondaryParentCachegroupId"><a href="/#!/cache-groups/{{cacheGroup.secondaryParentCachegroupId}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a></small>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Enabled Localization Methods</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input type="checkbox" name="CZEnabled" ng-checked="hasLocalizationMethod('CZ')" ng-click="toggleLocalizationMethod('CZ')"> Coverage Zone File</input><br>
                    <input type="checkbox" name="GeoEnabled" ng-checked="hasLocalizationMethod('GEO')" ng-click="toggleLocalizationMethod('GEO')"> Geo-IP Database</input>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(cacheGroupForm.fallbacks), 'has-feedback': hasError(cacheGroupForm.fallbacks)}" ng-hide="!isEdgeLoc(cacheGroup.typeId)">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Failover Cache Groups</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select name="fallbackOptions" class="form-control" ng-model="fallbackSelected" ng-options="cachegroup.group as cachegroup.group for cachegroup in cacheGroupFallbackOptions" ng-change="updateFallbacks(cacheGroup)">
                        <option value="">Add Failover Cache Group...</option>
                    </select>
                    <div class="allFallbacks" id="allFallbacks">
                        <div class="fallback" ng-repeat="fb in cacheGroup.fallbacks" dnd-enable="true" pageid="cacheGroupFallback">
                            <i class="fa fa-ellipsis-v fallback-grip drop-child" aria-hidden="true"></i>
                            <div class="fallback-list drop-child">{{ $index + 1 }}.&nbsp&nbsp&nbsp&nbsp&nbsp{{fb}}</div>
                            <div class="fallback-delete drop-child fa fa-trash-o" align="right" ng-click="removeFallback(fb)">
                            </div>
                        </div>
                    </div>
                    <div class="geoFallback">
                        <input type="checkbox" ng-model="cacheGroup.fallbackToClosest"> Fallback to Geo Failover</input>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-show="!settings.isNew" ng-click="confirmDelete(cacheGroup)">Delete</button>
                <button type="button" class="btn btn-success" ng-disabled="(cacheGroupForm.$pristine || cacheGroupForm.$invalid) && !cacheGroupFallbackUpdated" ng-click="save(cacheGroup)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>