/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
	/*
	 * !important prevents the common CSS stylesheets from
	 * overriding this as on RTD they are loaded after this stylesheet
	 */
	white-space: normal !important;
	word-wrap: break-word !important;
}

.wy-side-nav-search {
	background-color: #000000;
}

.adminition-title {
	background-color: #404040;
}
.wy-alert.wy-alert-info, .rst-content .note, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content
.wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important,
.rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .rst-content .seealso, .rst-content .wy-alert-info.admonition-todo {
	background: #dde0e2;
}

.wy-alert.wy-alert-info .wy-alert-title, .rst-content .note .wy-alert-title, .rst-content .wy-alert-info.attention .wy-alert-title,
.rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error
.wy-alert-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content
.wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .seealso .wy-alert-title, .rst-content
.wy-alert-info.admonition-todo .wy-alert-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-info
.admonition-title, .rst-content .note .admonition-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.caution
.admonition-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content
.wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.tip .admonition-title,
.rst-content .wy-alert-info.warning .admonition-title, .rst-content .seealso .admonition-title, .rst-content .wy-alert-info.admonition-todo .admonition-title {
	background: #404040;
}

.section {
	margin-top: 20px;
}
.wy-nav-content {
	padding: 1.618em 3.236em;
	height: 100%;
	max-width: none;
}

/* Darker Table borders (they're hard to see imo) */
.wy-table-responsive > table, .wy-table-responsive > table th, .wy-table-responsive > table td {
	border-color: #989898 !important;
}

abbr {
	cursor: help;
}

/*
 * On small screens, content can get cut off. It *should* squeeze as much as it
 * can, but some tables will refuse to squeeze beyond a certain point.
 */
html, html body {
	overflow-x: auto;
}

.same {
	font-weight: 700;
	color: #050;
}

.none {
	font-weight: 700;
	color: #800;
}

/*
 * Some versions of the sphinx-rtd theme are making lists unstyled, which makes
 * it hard to tell something's a list.
 */
ul, ol, ul > li, ol > li {
	list-style: unset;
}

ul > li > p, ol > li > p {
	margin: 0;
}

kbd {
	display: inline-block;
	padding: 4px 5px;
	font: smaller ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	line-height: 10px;
	vertical-align: middle;
	background-color: white;
	border: solid 1px rgba(99,110,123,0.4);
	border-radius: 6px;
	box-shadow: inset 0 -1px 0 rgba(99,110,123,0.4);
	min-height: 1.5em;
	min-width: 1.2em;
}
