{
	"ref_to_user": "jvando001",
	"ref_to_url": "https://to.kabletown.net",
	"to_user": "jvd",
	"to_url": "http://localhost:3000",
	"working_dir": "/Users/jvd/work/gh/knutsel/incubator-trafficcontrol",
	"mysql_dbadmin_user": "root",
	"mysql_dbadmin_passwd": "secretrootpass",
	"mysql_db_host": "127.0.0.1",
	"mysql_db_port": "3306",
	"mysql_db_name": "to_test",
	"pg_db_name": "to_test",
	"pg_dbadmin_user": "",
	"pg_dbadmin_passwd": "",
	"pg_db_host": "127.0.0.1",
	"pg_db_port": "5432",
	"goose_env": "test",
	"git_branch": "cdn-table-1",
	"git_repo":  "https://github.com/knutsel/incubator-trafficcontrol"
}
