{
  "port": "",
  "db_user": "bill",
  "db_pass": "thelizard",
  "db_server": "db.trafficops.example.net",
  "db_name": "trafficops",
  "db_ssl": true,
  "to_secret": "walrus",
  "to_url": "https://trafficops.example.net:60443",
  "insecure": false,
  "cert_path": "/opt/traffic_ops/cert",
  "key_path": "/opt/traffic_ops/key"
}
