{
  "port": "8443",
  "db_user": "traffic_ops",
  "db_pass": "twelve",
  "db_server": "localhost",
  "db_name": "traffic_ops",
  "db_ssl": false,
  "to_secret": "mONKEYDOmONKEYSEE.",
  "to_url": "https://localhost:60443",
  "insecure": false,
  "cert_path": "/etc/pki/tls/certs/localhost.crt",
  "key_path": "/etc/pki/tls/private/localhost.key",
  "proxy_timeout": 60,
  "proxy_keep_alive": 60,
  proxy_tls_timeout": 60,
  "proxy_read_header_timeout": 60,
  "read_timeout": 60,
  "read_header_timeout": 60,
  "write_timeout": 60,
  "idle_timeout": 60,
  "log_location_error": "stderr",
  "log_location_warning": "stdout",
  "log_location_info": "stdout",
  "log_location_debug": "stdout",
  "log_location_event": "access.log"
}
