<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a href="/#!/servers">Servers</a></li>
            <li class="active">{{serverName}}</li>
        </ol>
        <div class="pull-right" role="group" ng-if="!settings.isNew">
            <button type="button" class="btn btn-primary" title="Cache Charts" ng-if="showChartsButton && isCache" ng-click="openCharts(server)"><i class="fa fa-bar-chart fa-fw"></i></button>
            <div class="btn-group" role="group" uib-dropdown is-open="more.isopen">
                <button name="moreBtn" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                    More&nbsp;
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu-right dropdown-menu" uib-dropdown-menu>
                    <li><a ng-click="confirmStatusUpdate()">Update Status</a></li>
                    <li ng-show="isCache(server) && !server.updPending"><a ng-click="queueServerUpdates(server)">Queue Server Updates</a></li>
                    <li ng-show="isCache(server) && server.updPending"><a ng-click="clearServerUpdates(server)">Clear Server Updates</a></li>
                    <li ng-show="isCache(server)" class="divider"></li>
                    <li ng-show="isCache(server)" name="viewCapabilitiesMenuItem"><a ng-click="viewCapabilities()">Manage Capabilities</a></li>
                    <li ng-show="isEdge(server) || isOrigin(server)"><a ng-click="viewDeliveryServices()">Manage Delivery Services</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div>
        <br>
        <form name="serverForm" class="form-control-columns">

            <label for="status">Status *</label>
            <div>
                <select id="status" name="status" class="form-control" ng-model="server.statusID" ng-options="status.id as status.name for status in statuses" ng-disabled="!settings.isNew"></select>
            </div>

            <label ng-if="!settings.isNew" for="statusLastUpdated">Status Last Updated</label>
            <div ng-if="!settings.isNew">
                <input id="statusLastUpdated" name="statusLastUpdated" type="text" class="form-control" ng-model="server.statusLastUpdated" ng-disabled="true">
            </div>

            <label ng-if="server.offlineReason.length > 0" for="offlineReason">Offline Reason</label>
            <div ng-if="server.offlineReason.length > 0">
                <input id="offlineReason" name="offlineReason" type="text" class="form-control" ng-model="server.offlineReason" maxlength="256" readonly>
            </div>

            <label for="updPending">Update Pending *</label>
            <div>
                <input id="updPending" name="updPending" type="text" class="form-control" ng-model="server.updPending" ng-disabled="true">
            </div>

            <label for="hostName" ng-class="{'has-error': hasError(serverForm.hostName)}">Hostname *</label>
            <div ng-class="{'has-error': hasError(serverForm.hostName), 'has-feedback': hasError(serverForm.hostName)}">
                <input id="hostName" name="hostName" type="text" class="form-control" ng-model="server.hostName" maxlength="100" pattern="([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])" required>
                <small class="input-error" ng-show="hasPropertyError(serverForm.hostName, 'required')">Required</small>
                <small class="input-error" ng-show="hasPropertyError(serverForm.hostName, 'maxlength')">Too Long</small>
                <small class="input-error" ng-show="hasPropertyError(serverForm.hostName, 'pattern')">Invalid</small>
                <span ng-show="hasError(serverForm.hostName)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label for="domainName" ng-class="{'has-error': hasError(serverForm.domainName)}">Domain name *</label>
            <div ng-class="{'has-error': hasError(serverForm.domainName), 'has-feedback': hasError(serverForm.domainName)}">
                <input id="domainName" name="domainName" type="text" class="form-control" ng-model="server.domainName" maxlength="100" pattern="^\S*" required/>
                <small class="input-error" ng-show="hasPropertyError(serverForm.domainName, 'required')">Required</small>
                <small class="input-error" ng-show="hasPropertyError(serverForm.domainName, 'maxlength')">Too Long</small>
                <small class="input-error" ng-show="hasPropertyError(serverForm.domainName, 'pattern')">Invalid</small>
                <span ng-show="hasError(serverForm.domainName)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label for="cdn" ng-class="{'has-error': hasError(serverForm.cdn)}">CDN *</label>
            <div ng-class="{'has-error': hasError(serverForm.cdn), 'has-feedback': hasError(serverForm.cdn)}">
                <select name="cdn" id="cdn" class="form-control" ng-change="onCDNChange()" ng-model="server.cdnID" ng-options="cdn.id as cdn.name for cdn in cdns" required>
                    <option hidden selected disabled value="">Select...</option>
                </select>
                <small class="input-error" ng-show="hasPropertyError(serverForm.cdn, 'required')">Required</small>
                <small ng-show="server.cdnID"><a ng-href="/#!/cdns/{{server.cdnID}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a></small>
            </div>

            <label for="cachegroup" ng-class="{'has-error': hasError(serverForm.cacheGroup)}">Cache Group *</label>
            <div ng-class="{'has-error': hasError(serverForm.cacheGroup), 'has-feedback': hasError(serverForm.cacheGroup)}">
                <select id="cachegroup" name="cachegroup" class="form-control" ng-model="server.cacheGroupID" ng-options="cacheGroup.id as cacheGroup.name for cacheGroup in cacheGroups" required>
                    <option hidden selected disabled value="">Select...</option>
                </select>
                <small class="input-error" ng-show="hasPropertyError(serverForm.cacheGroup, 'required')">Required</small>
                <small ng-show="server.cacheGroupID"><a ng-href="/#!/cache-groups/{{server.cacheGroupID}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a></small>
            </div>
            <label for="type" ng-class="{'has-error': hasError(serverForm.type)}">Type *</label>
            <div ng-class="{'has-error': hasError(serverForm.type), 'has-feedback': hasError(serverForm.type)}">
                <select id="type" name="type" class="form-control" ng-model="server.typeID" ng-options="type.id as type.name for type in types" required>
                    <option hidden selected disabled value="">Select...</option>
                </select>
                <small class="input-error" ng-show="hasPropertyError(serverForm.type, 'required')">Required</small>
                <small ng-show="server.typeID"><a ng-href="/#!/types/{{server.typeID}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a></small>
            </div>

            <fieldset>
                <legend title="Layered Profiles for a given server."> Profiles
                    <button name="addProfileBtn" class="btn btn-primary right-button btn-xs" type="button" title="add new profile(s) to the server" ng-click="addProfile()"><i class="fa fa-plus"></i></button>
                </legend>
                <p>
                    <b>Note:</b> The profile with the highest priority (<b>1 - highest</b>), will take precedence (in terms of parameters).
                    <br>
                    For example, P1 and P2 are two profiles associated with a server, S1. Parameters of P1 will have a <u>higher</u> priority over that of P2.
                    And if there exists parameters with same name but different values, then P1's parameters will <b>not</b> be overwritten.
                </p>
                <fieldset ng-repeat="profile in server.profiles track by $index"> {{$index + 1}}
                    <select ng-class="{'has-error': hasPropertyError(serverForm['activeProfile-'+$index], 'required'), 'has-feedback': hasPropertyError(serverForm['activeProfile-'+$index], 'required')}"
                            id="activeProfile-{{$index}}" name="activeProfile-{{$index}}" class="form-control" ng-model="server.profiles[$index]"
                            ng-options="profile.name as profile.name for profile in profiles|excludeFilter:profile:server.profiles" required>
                        <option hidden selected disabled value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(serverForm['activeProfile-'+$index], 'required')">Required</small>
                    <a ng-href="{{getProfileID(server.profiles[$index])}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a>
                    <button class="btn btn-danger right-button btn-xs" type="button" title="remove this profile from the server" ng-if="server.profiles.length>1" ng-click="deleteProfile($index)"><i class="fa fa-minus"></i></button>
                </fieldset>
            </fieldset>

            <label for="physicalLocation" ng-class="{'has-error': hasError(serverForm.physicalLocation)}">Physical Location *</label>
            <div ng-class="{'has-error': hasError(serverForm.physicalLocation), 'has-feedback': hasError(serverForm.physicalLocation)}">
                <select id="physicalLocation" name="physicalLocation" class="form-control" ng-model="server.physicalLocationID" ng-options="pL.id as pL.name for pL in physicalLocations" required>
                    <option value="">Select...</option>
                </select>
                <small class="input-error" ng-show="hasPropertyError(serverForm.physicalLocation, 'required')">Required</small>
                <small ng-show="server.physicalLocationID"><a ng-href="/#!/phys-locations/{{server.physicalLocationID}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a></small>
            </div>

            <label for="tcpPort" ng-class="{'has-error': hasError(serverForm.tcpPort)}">TCP Port</label>
            <div ng-class="{'has-error': hasError(serverForm.tcpPort), 'has-feedback': hasError(serverForm.tcpPort)}">
                <input id="tcpPort" name="tcpPort" type="number" class="form-control" ng-model="server.tcpPort" min="0" max="65535"/>
                <small class="input-error" ng-show="hasPropertyError(serverForm.httpsPort, 'min') || hasPropertyError(serverForm.httpsPort, 'max')">Invalid port number (must be whole number less than 65536)</small>
                <span ng-show="hasError(serverForm.tcpPort)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label for="httpsPort" ng-class="{'has-error': hasError(serverForm.httpsPort)}">HTTPS Port</label>
            <div ng-class="{'has-error': hasError(serverForm.httpsPort), 'has-feedback': hasError(serverForm.httpsPort)}">
                <input id="httpsPort" name="httpsPort" type="number" class="form-control" ng-model="server.httpsPort" min="0" max="65535"/>
                <small class="input-error" ng-show="hasPropertyError(serverForm.httpsPort, 'min') || hasPropertyError(serverForm.httpsPort, 'max')">Invalid port number (must be whole number less than 65536)</small>
                <span ng-show="hasError(serverForm.httpsPort)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label for="rack" ng-class="{'has-error': hasError(serverForm.rack)}">Rack / Elevation</label>
            <div ng-class="{'has-error': hasError(serverForm.rack), 'has-feedback': hasError(serverForm.rack)}">
                <input id="rack" name="rack" type="text" class="form-control" ng-model="server.rack" maxlength="64">
                <small class="input-error" ng-show="hasPropertyError(serverForm.rack, 'maxlength')">Too Long</small>
                <span ng-show="hasError(serverForm.rack)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label for="mgmtIpAddress" class="has-tooltip" ng-class="{'has-error': hasError(serverForm.mgmtIpAddress)}">Management IP Address<div class="helptooltip">
                <div class="helptext">
                    This is an IP address for the server's management interface.
                    <aside class="warning">
                        <h6>Deprecated</h6>
                        <p>Management interfaces are deprecated and will be removed in the future. Please move all such information into the "Interfaces" section.</p>
                    </aside>
                </div>
            </div></label>
            <div ng-class="{'has-error': hasError(serverForm.mgmtIpAddress), 'has-feedback': hasError(serverForm.mgmtIpAddress)}">
                <input id="mgmtIpAddress" name="mgmtIpAddress" type="text" class="form-control" ng-model="server.mgmtIpAddress" ng-pattern="server.mgmtIpNetmask ? IPv4Pattern : IPPattern">
                <small class="input-error" ng-show="hasPropertyError(serverForm.mgmtIpAddress, 'pattern')">Invalid</small>
                <span ng-show="hasError(serverForm.mgmtIpAddress)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label for="mgmtIpNetmask" class="has-tooltip" ng-class="{'has-error': hasError(serverForm.mgmtIpNetmask)}">Management IP Netmask<div class="helptooltip">
                <div class="helptext">
                    This is an IPv4 subnet mask for the server's management interface.
                    <aside class="warning">
                        <h6>Deprecated</h6>
                        <p>Management interfaces are deprecated and will be removed in the future. Please move all such information into the "Interfaces" section.</p>
                    </aside>
                </div>
            </div></label>
            <div ng-class="{'has-error': hasError(serverForm.mgmtIpNetmask), 'has-feedback': hasError(serverForm.mgmtIpNetmask)}">
                <input id="mgmtIpNetmask" name="mgmtIpNetmask" type="text" class="form-control" ng-model="server.mgmtIpNetmask" ng-pattern="IPv4Pattern"/>
                <small class="input-error" ng-show="hasPropertyError(serverForm.mgmtIpNetmask, 'pattern')">Invalid</small>
                <span ng-show="hasError(serverForm.mgmtIpNetmask)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label for="mgmtIpGateway" class="has-tooltip" ng-class="{'has-error': hasError(serverForm.mgmtIpGateway)}">Management IP Gateway<div class="helptooltip">
                <div class="helptext">
                    This is an IP address for the server's management interface.
                    <aside class="warning">
                        <h6>Deprecated</h6>
                        <p>Management interfaces are deprecated and will be removed in the future. Please move all such information into the "Interfaces" section.</p>
                    </aside>
                </div>
            </div></label>
            <div ng-class="{'has-error': hasError(serverForm.mgmtIpGateway), 'has-feedback': hasError(serverForm.mgmtIpGateway)}">
                <input id="mgmtIpGateway" name="mgmtIpGateway" type="text" class="form-control" ng-model="server.mgmtIpGateway" ng-pattern="server.mgmtIpNetmask ? IPv4Pattern : IPPattern"/>
                <small class="input-error" ng-show="hasPropertyError(serverForm.mgmtIpGateway, 'pattern')">Invalid</small>
                <span ng-show="hasError(serverForm.mgmtIpGateway)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label for="iloIpAddress" ng-class="{'has-error': hasError(serverForm.iloIpAddress)}">ILO IP Address</label>
            <div ng-class="{'has-error': hasError(serverForm.iloIpAddress), 'has-feedback': hasError(serverForm.iloIpAddress)}">
                <input id="iloIpAddress" name="iloIpAddress" type="text" class="form-control" ng-model="server.iloIpAddress" ng-pattern="server.iloIPNetmask ? IPv4Pattern : IPPattern"/>
                <small class="input-error" ng-show="hasPropertyError(serverForm.iloIpAddress, 'pattern')">Invalid</small>
                <span ng-show="hasError(serverForm.iloIpAddress)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label for="iloIpNetmask" ng-class="{'has-error': hasError(serverForm.iloIpNetmask)}">ILO IP Netmask</label>
            <div ng-class="{'has-error': hasError(serverForm.iloIpNetmask), 'has-feedback': hasError(serverForm.iloIpNetmask)}">
                <input id="iloIpNetmask" name="iloIpNetmask" type="text" class="form-control" ng-model="server.iloIpNetmask" ng-pattern="IPv4Pattern"/>
                <small class="input-error" ng-show="hasPropertyError(serverForm.iloIpNetmask, 'pattern')">Invalid</small>
                <span ng-show="hasError(serverForm.iloIpNetmask)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label for="iloIpGateway" ng-class="{'has-error': hasError(serverForm.iloIpGateway)}">ILO IP Gateway</label>
            <div ng-class="{'has-error': hasError(serverForm.iloIpGateway), 'has-feedback': hasError(serverForm.iloIpGateway)}">
                <input id="iloIpGateway" name="iloIpGateway" type="text" class="form-control" ng-model="server.iloIpGateway" ng-pattern="server.iloIPNetmask ? IPv4Pattern : IPPattern"/>
                <small class="input-error" ng-show="hasPropertyError(serverForm.iloIpGateway, 'pattern')">Invalid</small>
                <span ng-show="hasError(serverForm.iloIpGateway)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label ng-class="{'has-error': hasError(serverForm.iloUsername)}">ILO Username</label>
            <div ng-class="{'has-error': hasError(serverForm.iloUsername), 'has-feedback': hasError(serverForm.iloUsername)}">
                <input name="iloUsername" type="text" class="form-control" ng-model="server.iloUsername" maxlength="45" pattern="\S*" autocomplete="off"/>
                <small class="input-error" ng-show="hasPropertyError(serverForm.iloUsername, 'maxlength')">Too Long</small>
                <small class="input-error" ng-show="hasPropertyError(serverForm.iloUsername, 'pattern')">No Spaces</small>
                <span ng-show="hasError(serverForm.iloUsername)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label ng-class="{'has-error': hasError(serverForm.iloPassword)}">ILO Password</label>
            <div ng-class="{'has-error': hasError(serverForm.iloPassword), 'has-feedback': hasError(serverForm.iloPassword)}">
				<div class="form-control revealable-password-container">
					<input name="iloPassword" type="{{iloInputType}}" class="form-control" ng-model="server.iloPassword" autocomplete="new-password" maxlength="45"/>
					<button type="button" title="toggle revealed password" aria-label="toggle revealed password" ng-click="toggleILO()"><i class="fa fa-eye"></i></button>
				</div>
                <small class="input-error" ng-show="hasPropertyError(serverForm.iloPassword, 'maxlength')">Too Long</small>
                <span ng-show="hasError(serverForm.iloPassword)" class="form-control-feedback"><i class="fa fa-times"></i></span>
            </div>

            <label ng-if="!settings.isNew">Hash ID</label>
            <div ng-if="!settings.isNew">
                <input name="xmppId" type="text" class="form-control" ng-model="server.xmppId" readonly/>
            </div>

            <fieldset>
                <legend>Interfaces<button name="addInterfaceBtn" class="btn btn-primary right-button btn-xs" type="button" title="add a new interface" ng-click="addInterface()"><i class="fa fa-plus"></i></button></legend>
                <fieldset ng-repeat="inf in server.interfaces">
                    <legend ng-class="{'has-error': hasError(serverForm[inf.name+'-name'])}">
                        <label for="{{inf.name}}-name" ng-class="{'has-error': hasError(serverForm[inf.name+'-name'])}">Name</label>
                        <input type="text" ng-model="inf.name" required aria-label="Interface name" id="{{inf.name}}-name" name="{{inf.name}}-name" class="interface-name-input"/>
                        <button class="btn btn-danger right-button btn-xs" type="button" title="delete this interface" ng-click="deleteInterface(inf)"><i class="fa fa-minus"></i></button>
                    </legend>

                    <div>
                        <label for="{{inf.name}}-monitor">Monitor this interface</label>
                        <input id="{{inf.name}}-monitor" name="{{inf.name}}-monitor" type="checkbox" ng-model="inf.monitor"/>
                        <label for="{{inf.name}}-mtu" ng-class="{'has-error': hasError(serverForm[inf.name+'-mtu'])}"><abbr title="Maximum Transmission Unit">MTU</abbr></label>
                        <input id="{{inf.name}}-mtu" ng-class="{'has-error': hasError(serverForm[inf.name+'-mtu'])}" name="{{inf.name}}-mtu" type="number" min="1500" max="9000" step="7500" ng-model="inf.mtu"/>
                        <small class="input-error" ng-show="hasPropertyError(serverForm[inf.name+'-mtu'], 'min') || hasPropertyError(serverForm[inf.name+'-mtu'], 'max') || hasPropertyError(serverForm[inf.name+'-mtu'], 'step')">Invalid MTU - must be 1500 or 9000</small>
                        <label for="{{inf.name}}-max-bandwidth" ng-class="{'has-error': hasError(serverForm[inf.name+'-max-bandwidth'])}">Maximum Bandwidth</label>
                        <input id="{{inf.name}}-max-bandwidth" ng-model="inf.maxBandwidth" ng-class="{'has-error': hasError(serverForm[inf.name+'-max-bandwidth'])}" min="0" type="number" name="{{inf.name}}-max-bandwidth"/>
                        <small class="input-error" ng-show="hasPropertyError(serverForm[inf.name+'-max-bandwidth'], 'min')">Cannot be negative</small>
                        <label for="{{inf.name}}-router-hostname" ng-class="{'has-error': hasError(serverForm[inf.name+'-router-hostname'])}">Router Hostname</label>
                        <input id="{{inf.name}}-router-hostname" ng-model="inf.routerHostName" ng-class="{'has-error': hasError(serverForm[inf.name+'-router-hostname'])}" type="text" name="{{inf.name}}-router-hostname" maxlength="256" pattern="\S*"/>
                        <small class="input-error" ng-show="hasPropertyError(serverForm[inf.name+'-router-hostname'], 'maxlength')">Too long</small>
                        <small class="input-error" ng-show="hasPropertyError(serverForm[inf.name+'-router-hostname'], 'pattern')">No Spaces</small>
                        <label for="{{inf.name}}-router-portname" ng-class="{'has-error': hasError(serverForm[inf.name+'-router-portname'])}">Router Port Name</label>
                        <input id="{{inf.name}}-router-portname" ng-model="inf.routerPortName" ng-class="{'has-error': hasError(serverForm[inf.name+'-router-portname'])}" type="text" name="{{inf.name}}-router-portname" maxlength="256"/>
                        <small class="input-error" ng-show="hasPropertyError(serverForm[inf.name+'-router-portname'], 'maxlength')">Too long</small>
                    </div>

                    <fieldset>
                        <legend>IP Addresses<button name="addIPBtn" type="button" title="add new IP Address" class="btn btn-primary right-button btn-xs add-ip-btn" ng-click="addIP(inf)"><i class="fa fa-plus"></i></button></legend>
                        <ul>
                            <li ng-repeat="ip in inf.ipAddresses" ng-class="{'bordered-item': !$last}">
                                <label for="{{inf.name}}-{{ip.address}}" ng-class="{'has-error': hasError(serverForm[inf.name+'-'+ip.address])}">Address</label>
                                <input id="{{inf.name}}-{{ip.address}}" name="{{inf.name}}-{{ip.address}}" class="ip-input" type="text" ng-model="ip.address" ng-pattern="IPWithCIDRPattern" required placeholder="192.0.2.0/27" />
                                <small class="input-error" ng-show="hasPropertyError(serverForm[inf.name+'-'+ip.address], 'pattern')">Invalid address</small>
                                <small class="input-error" ng-show="hasPropertyError(serverForm[inf.name+'-'+ip.address], 'required')">Required</small>
                                <small class="input-warning" ng-show="isLargeCIDR(ip.address)">Large CIDR block detected (IPv4 with CIDR &lt; 24 or IPv6 with CIDR &lt; 64)</small>
                                <label for="{{inf.name}}-{{ip.address}}-gateway">Gateway</label>
                                <input type="text" id="{{inf.name}}-{{ip.address}}-gateway" name="{{inf.name}}-{{ip.address}}-gateway" ng-model="ip.gateway" ng-pattern="IPPattern"/>
                                <small class="input-error" ng-show="hasPropertyError(serverForm[inf.name+'-'+ip.address+'-gateway'], 'pattern')">Invalid gateway</small>
                                <label for="{{inf.name}}-{{ip.address}}-serviceAddress">Is a Service Address</label>
                                <input type="checkbox" name="{{inf.name}}-{{ip.address}}-serviceAddress" id="{{inf.name}}-{{ip.address}}-serviceAddress" class="service-addr-cb" ng-model="ip.serviceAddress"/>
                                <button type="button" title="delete this IP address" class="btn btn-danger btn-xs" style="justify-self: start;" ng-click="deleteIP(inf, ip)"><i class="fa fa-minus"></i></button>
                            </li>
                        </ul>
                    </fieldset>
                </fieldset>
            </fieldset>

            <div class="modal-footer" style="grid-column: 1 / span 2;">
                <button type="button" class="btn btn-danger" ng-show="!settings.isNew" ng-click="confirmDelete(server)">Delete</button>
                <button type="button" class="btn btn-success" ng-disabled="serverForm.$pristine || serverForm.$invalid" ng-click="save(server)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>
