{
	"redisString": "127.0.0.1:6379",
	"spdbNodeType": "ipcdn_rascal",
	"statConfigs": {
		"ats.proxy.process.http.current_client_connections": {
			"redisInterval": 10,
			"spdbMetric": "OpenSockets",
			"spdbInterval": 300
		},
		"kbps": {
			"redisInterval": 10,
			"spdbMetric": "OutBps",
			"spdbInterval": 300,
			"multiplier": 1000
		},
		"bandwidth": {
			"redisInterval": 10,
			"spdbMetric": "OutBps",
			"spdbInterval": 300,
			"multiplier": 1000
		},
		"tps_total": {
			"redisInterval": 10,
			"spdbMetric": "TotalTrans/Sec",
			"spdbInterval": 300
		},
		"tps_2xx": {
			"redisInterval": 10,
			"spdbMetric": "ServerOuts2xx/Sec",
			"spdbInterval": 300
		},
		"tps_3xx": {
			"redisInterval": 10,
			"spdbMetric": "ServerOuts3xx/Sec",
			"spdbInterval": 300
		},
		"tps_4xx": {
			"redisInterval": 10,
			"spdbMetric": "ServerOuts4xx/Sec",
			"spdbInterval": 300
		},
		"tps_5xx": {
			"redisInterval": 10,
			"spdbMetric": "ServerOuts5xx/Sec",
			"spdbInterval": 300
		}
	}
}
