<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div id="header">
    <nav role="navigation">
        <div class="nav toggle">
            <a id="menu_toggle" class="btn-link"><i class="fa fa-bars"></i></a>
        </div>
        <div id="enviro-banner" class="navbar">
            <span>{{enviroName}}</span>
        </div>
        <ul class="nav navbar-nav navbar-right" ng-if="userLoaded">
            <li>
                <div class="btn-group" uib-dropdown is-open="userMenu.isopen">
                    <button id="userButton" type="button" class="btn btn-link" uib-dropdown-toggle>
                        <span id="headerUsername">{{::user.username}}</span> <i class="fa fa-angle-down fa-lg"></i>
                    </button>
                    <ul class="uib-dropdown-menu dropdown-usermenu animated fadeInDown" role="menu" aria-labelledby="userMenu-button">
                        <li><a ui-sref="trafficPortal.private.user.edit">Manage User Profile</a></li>
                        <li ng-if="userLoaded"><a ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </li>
            <li role="presentation" class="dropdown" ng-if="hasCapability('change-logs-read')">
                <div class="btn-group" title="Change Logs" uib-dropdown is-open="alerts.isopen">
                    <button id="alertsButton" type="button" class="btn btn-link" ng-click="getChangeLogs()" uib-dropdown-toggle>
                        <i class="fa" ng-class="{ 'fa-comment': newLogCount() > 0, 'fa-comment-o': newLogCount() == 0 }"></i>
                        <span class="badge bg-blue">{{newLogCount()}}</span>
                    </button>
                    <ul class="uib-dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                        <li ng-show="loadingChangeLogs" style="text-align: center"><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i></li>
                        <li ng-repeat="changeLog in changeLogs">
                            <a ng-click="$event.stopPropagation()">
                                <span>
                                    <span>{{::changeLog.user}}</span>
                                    <span class="time">{{::getRelativeTime(changeLog.lastUpdated)}}</span>
                                </span>
                                <span class="message">{{::changeLog.message}}</span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                                <a>
                                    <strong><a ng-click="navigateToPath('/change-logs')">See All Change Logs</a></strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="btn-group" title="DB Dump">
                    <button type="button" class="btn btn-link" ng-if="hasCapability('db-dump')" ng-click="dbDump()"><i class="fa fa-download"></i></button>
                </div>
            </li>
            <li>
                <div class="btn-group" title="Lock CDN">
                    <button type="button" class="btn btn-link" ng-if="hasCapability('cdns-lock')" ng-click="lockCDN()"><i class="fa fa-lock"></i></button>
                </div>
            </li>
            <li>
                <div class="btn-group" title="Queue CDN Server Updates">
                    <button type="button" class="btn btn-link" ng-if="hasCapability('servers-write')" ng-click="confirmQueueServerUpdates()"><i class="fa fa-flag"></i></button>
                </div>
            </li>
            <li>
                <div class="btn-group" title="Diff CDN Config Snapshot">
                    <button type="button" class="btn btn-link" ng-if="hasCapability('cdns-snapshot')" ng-click="snapshot()"><i class="fa fa-camera"></i></button>
                </div>
            </li>
            <li role="presentation" class="dropdown" ng-repeat="cdn in cdns | orderBy: '-name'">
                <div class="btn-group" title="{{cdn.name}} Notifications" uib-dropdown is-open="{{cdn.name}}-notifications.isopen">
                    <button id="{{cdn.name}}-notifications" type="button" class="btn btn-link" ng-click="getNotifications(cdn)" uib-dropdown-toggle>
                        {{cdn.name}} <i class="fa" ng-class="{ 'fa-bell': cdn.hasNotifications, 'fa-bell-o': !cdn.hasNotifications }"></i>
                    </button>
                    <ul class="uib-dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                        <li ng-if="loadingNotifications" style="text-align: center"><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i></li>
                        <li ng-if="notifications.length === 0">
                            <div class="text-center">No {{cdn.name}} notifications</div>
                        </li>
                        <li ng-repeat="notification in notifications">
                            <a ng-click="$event.stopPropagation()">
                                <span>
                                    <span>{{::notification.user}}</span>
                                    <span class="time">{{::getRelativeTime(notification.lastUpdated)}}</span>
                                </span>
                                <span class="message">{{::notification.notification}}</span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                                <button type="button" class="btn btn-link" title="Manage {{cdn.name}} notifications" ng-click="navigateToPath('/cdns/' + cdn.id + '/notifications')"><strong>Manage {{cdn.name}} notifications <i class="fa fa-angle-right"></i></strong></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>
