<html>
<head>
<wicket:head>
	<style type="text/css">
.configpanel {
}
</style>
</wicket:head>
</head>
<body>
	<wicket:panel>
		<div class="configpanel">
			<div wicket:id="configeditpanel">
				<h3>Edit Base Configuration</h3>
				<form wicket:id="configform">
					<input type="submit" wicket:id="submit" value="Save" /> <input
						type="button" wicket:id="cancel" value="Reset" />
					<p>
						<label>Twelve Monkeys Hostname: </label> 
						<span wicket:id="tmHost">[[site selection]]</span>
					</p>
					<p>
						<label>CDN Name: </label>
						<span wicket:id="cdnName">[[site selection]]</span>
					</p>
					<lu>
					<li wicket:id="propList"><span wicket:id="key"></span>: <span wicket:id="value"></span></li>
					<!-- <br><input style="width: 600px;" type="text" wicket:id="value" /></li> -->
					</lu>
				</form>
			</div>
		</div>
	</wicket:panel>
</body>
</html>