
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="col-md-6 col-sm-12 col-xs-12 tile_stats_count current">
        <span class="count_top">Current Bandwidth</span>
        <div class="count">{{totalBandwidth}}</div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 tile_stats_count current">
        <span class="count_top">Current Connections</span>
        <div class="count">{{totalConnections}}</div>
    </div>
</div>
<div class="col-md-8 col-sm-6 col-xs-12">
    <div class="col-md-4 col-sm-12 col-xs-12 tile_stats_count">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="count_top"><a ng-click="navigateToPath('/cache-stats')">Healthy Caches</a></span>
            <div class="count green">{{totalOnline}}</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="count_top"><a ng-click="navigateToPath('/cache-stats')">Unhealthy Caches</a></span>
            <div class="count red">{{totalOffline}}</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 tile_stats_count">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="count_top">Online Caches</span>
            <div class="count">{{online()}}</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="count_top">Reported Caches</span>
            <div class="count">{{reported()}}</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 tile_stats_count">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="count_top">Offline Caches</span>
            <div class="count">{{offline()}}</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="count_top">Admin Down Caches</span>
            <div class="count">{{adminDown()}}</div>
        </div>
    </div>
</div>
