<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->


<div class="x_panel">
    <div class="x_title">
        <ol class="breadcrumb pull-left">
            <li><a ng-click="navigateToPath('/users')">Users</a></li>
            <li class="active">{{userName}}</li>
        </ol>
        <div class="pull-right" role="group" ng-show="!settings.isNew">
            <a class="btn btn-primary" ng-href="/#!/change-logs?username={{userName | encodeURIComponent}}">View Change Log</a>
            <a class="btn btn-primary" ng-href="/#!/tenants/{{user.tenantId}}/delivery-services?all=true">View Delivery Services</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form name="userForm" class="form-horizontal form-label-left" novalidate>
            <div class="form-group" ng-class="{'has-error': hasError(userForm.fullName), 'has-feedback': hasError(userForm.fullName)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Full Name *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="fullName" type="text" class="form-control" ng-model="user.fullName" ng-maxlength="256" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(userForm.fullName, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(userForm.fullName, 'maxlength')">Too Long</small>
                    <span ng-show="hasError(userForm.fullName)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(userForm.uName), 'has-feedback': hasError(userForm.uName)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Username *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="uName" type="text" class="form-control" ng-model="user.username" ng-maxlength="128" ng-pattern="/^\S*$/" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(userForm.uName, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(userForm.uName, 'maxlength')">Too Long</small>
                    <small class="input-error" ng-show="hasPropertyError(userForm.uName, 'pattern')">No Spaces</small>
                    <span ng-show="hasError(userForm.uName)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(userForm.email), 'has-feedback': hasError(userForm.email)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Email *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="email" type="email" class="form-control" ng-model="user.email" ng-maxlength="128" required autofocus>
                    <small class="input-error" ng-show="hasPropertyError(userForm.email, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(userForm.email, 'maxlength')">Too Long</small>
                    <small class="input-error" ng-show="hasPropertyError(userForm.email, 'email')">Invalid Email</small>
                    <span ng-show="hasError(userForm.email)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(userForm.role), 'has-feedback': hasError(userForm.role)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Role*</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select name="role" class="form-control" ng-model="user.role" ng-options="role.name as label(role) for role in roles" required>
                        <option value="">Select...</option>
                    </select>
                    <small class="input-error" ng-show="hasPropertyError(userForm.role, 'required')">Required</small>
                    <small ng-show="user.role"><a href="/#!/roles/edit/{{user.role}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a></small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(userForm.tenantId), 'has-feedback': hasError(userForm.tenantId)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Tenant *</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <tree-select tree-data="[tenants[0]]" handle="tenantId" on-update="user.tenantId = value" initial-value="user.tenantId"></tree-select>
                    <small class="input-error" ng-show="hasPropertyError(userForm.tenantId, 'required')">Required</small>
                    <small ng-show="user.tenantId"><a href="/#!/tenants/{{user.tenantId}}" target="_blank">View Details&nbsp;&nbsp;<i class="fa fs-xs fa-external-link"></i></a></small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(userForm.uCDN), 'has-feedback': hasError(userForm.uCDN)}">
                <label for="uCDN" class="control-label col-md-2 col-sm-2 col-xs-12">Upstream CDN</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input id="uCDN" name="uCDN" type="text" class="form-control" ng-model="user.ucdn" ng-pattern="/^\S*$/">
                    <small class="input-error" ng-show="hasPropertyError(userForm.ucdn, 'pattern')">No Spaces</small>
                    <span ng-show="hasError(userForm.ucdn)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(userForm.uPass), 'has-feedback': hasError(userForm.uPass)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Password <span ng-if="settings.isNew">*</span></label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="uPass" type="password" class="form-control" ng-model="user.localPasswd" ng-required="settings.isNew" ng-maxlength="40" ng-minlength="8" autocomplete="new-password"  autofocus>
                    <small class="input-error" ng-show="hasPropertyError(userForm.uPass, 'required')">Required</small>
                    <small class="input-error" ng-show="hasPropertyError(userForm.uPass, 'minlength')">Too Short</small>
                    <small class="input-error" ng-show="hasPropertyError(userForm.uPass, 'maxlength')">Too Long</small>
                    <span ng-show="hasError(userForm.uPass)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(userForm.confirmPassword), 'has-feedback': hasError(userForm.confirmPassword)}">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Confirm Password</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="confirmPassword" type="password" class="form-control" ng-model="user.confirmLocalPasswd" match="user.localPasswd">
                    <small class="input-error" ng-show="hasPropertyError(userForm.confirmPassword, 'match')">[ Doesn't Match ]</small>
                    <span ng-show="hasError(userForm.confirmPassword)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Public SSH Key</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <textarea name="publicSshKey" rows="5" class="form-control" ng-model="user.publicSshKey"></textarea>
                </div>
            </div>
            <div class="form-group" ng-if="!settings.isNew" ng-class="{'has-error': hasError(userForm.registrationSent), 'has-feedback': hasError(userForm.registrationSent)}">
                <label class="has-tooltip control-label col-md-2 col-sm-2 col-xs-12">Registration Sent<div class="helptooltip">
                    <div class="helptext">The date on which a registration email was sent to create this user. The value is blank if the user was not created via a new user registration.</div>
                </div>
                </label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input name="registrationSent" type="text" class="form-control" ng-model="user.registrationSent" ng-maxlength="128" readonly>
                    <span ng-show="hasError(userForm.registrationSent)" class="form-control-feedback"><i class="fa fa-times"></i></span>
                </div>
            </div>

            <div class="modal-footer">
                <button ng-if="user.newUser" type="button" class="btn btn-default" ng-click="resendRegistration(user)">Resend Registration</button>
                <button type="button" class="btn btn-success" ng-disabled="userForm.$pristine || userForm.$invalid" ng-click="confirmSave(user)">{{settings.saveLabel}}</button>
            </div>
        </form>
    </div>
</div>
