/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
	word-wrap: break-word !important;
}

.wy-table-responsive {
    overflow: visible !important;
}

.wy-side-nav-search img {
	width: 63% !important;
}

.section {
  margin-top: 20px;
}
